/** base - start **/
#content-wrapper {
	overflow: auto;
	margin-top: 46px;
	padding-top: 18px;
	padding-bottom: 15px;
}

#footer {
	padding: 40px 0 20px;
}
/** base - end **/

/** navigation - start **/
#main-menu ul.navigation li li.nav-header {
	color: #999999;
	font-size: 10px;
	padding: 3px 20px;
	text-transform: uppercase;
}
/** navigation - end **/

/** login **/
.page-signin .footer {
	width: 100%;
	position: absolute;
	bottom: 15px;
	color: #fff;
	display: block;
	font-size: 14px;
	padding: 20px 0;
	text-align: center;
	z-index: 999;
}

.page-header .label {
	vertical-align: super;
} 

ul.help-block {
	list-style-type: none;
}

#display-count {
	font-size: 12px;
	color: #888;
	line-height: 29px;
} 
/** layout - end **/

/** list page - start**/
.list-block h1 {
	margin: 0;
}

.search-filters {
	margin-top: 20px;
}
/** list page - end **/

/** page - start **/
.page-header h1 {
	font-size: 26px;
}

.last-updated-date {
	margin-top: 50px;
}
/** page - end **/

/** page tables - start **/
.table.table-no-border tbody th,
	.table.table-no-border tbody tr,
	.table.table-no-border tbody td {
	border: 0;
}
/** page tables - end **/

/** profile block - start **/
.profile tbody > tr > th {
	font-weight: bold;
	text-align: right;
	color: #B1B1B1;
}

.profile-image {
	margin-left: 15px;
}
/** profile block - end **/

/** for displaying subtotals, deductions and totals - start **/
ul.totals {
	list-style: none;
	margin-bottom: 10px;
	padding: 0;
	margin-right: 8px;
}

ul.totals li {
	margin: 5px 0;
	clear: both;
}

ul.totals .descr {
	text-transform: uppercase;
}

ul.totals .descr-input {
	text-transform: uppercase;
	padding-top: 10px;
	float: left;
}

ul.totals .amount {
	float: right;
	font-weight: bold;
	text-align: right;
	font-size: 14px;
}

ul.totals .input {
	float: right;
	padding-right: 0;
	padding-bottom: 5px;
	text-align: right;
	width: 50%;
}

ul.totals li.divider {
	margin-top: 10px;
	border-top: 1px solid #e1e1e1;
	padding-top: 10px;
}

ul.totals .amount.grand-total {
	font-size: 18px;
	font-weight: bold;
}
/** for displaying subtotals, deductions and totals - end **/

/** temp **/
ul.help-block {
	list-style-type: none;
}

.amount {
	text-align: right;
}

/** product price list dropdown **/
.product-price-list {
	text-align: left;
	font-size: 12px;
}

.product-price-list .price-label {
	display: block;
	font-weight: bold;
	text-transform: uppercase;
}

.table-collection .input-group-btn .btn {
	line-height: 18px;
}

/** widgets **/
.widget-notifications .notification-icon {
	width: auto;
}

/** modal **/
#product-search-modal table tr, .search-result table tr {
	cursor: pointer;
}

#product-search-result, .search-result {
	display: none;
}

/** dashboard **/
.dashboard-table {
	height: 500px;
	table-layout: fixed;
    display: table;
    width: 100%;
    font-size: 12px;
}

.dashboard-table h4 {
    vertical-align: middle;    
    display: table-cell;
    text-align: center;
    font-weight: bold;
}

/** typeahead styles **/
.product-autocomplete-container .empty-message {
  padding: 5px 10px;
 text-align: center;
}

.autocomplete-loading {
    background: white url(../img/spinner.gif) right center no-repeat;
    padding-right: 10px;
}

/* custom item list panel */
.custom-panel .panel-body {
	padding: 15px 0 0;
	background: initial;
}

.custom-panel .item-link {
	display: block;
}

.custom-panel .item {
	margin: 0 -20px;
	padding: 0 20px 14px;
}

.custom-panel .item+.item {
	padding-top: 13px;
	border-top: 1px solid;
	border-top-color: #e4e4e4;
}

.custom-panel .progress {
	margin: 5px auto;
}

.custom-panel .item-status {
	display: block;
	float: right;
	font-size: 10px;
	line-height: 18px;
	margin: 2px 0 0;
	padding: 0 5px;
	position: relative;
}

.custom-panel .item-text1 {
	font-size: 12px;
}

.custom-panel .item-text2 {
	color: #aaa;
	font-size: 11px;
}

/** used by ng-cloak attribute of angular **/
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}

/** progress bar percentage indicator **/
.progress-bar {
	font-size: 9px;
	line-height: 12px;
}

/** utilities **/
.field-loading {
	background: white url(../img/spinner.gif) no-repeat;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 7px;
}

.table-cascade {
	margin-bottom: 0px;
}

.search-no-results {
	margin-left: 10px;
	margin-top: 5px;
	font-style: italic;
}

.typeahead-anchor {
	cursor: pointer;
}

.panel-input {
	border: none;
}

.panel-item {
	cursor: pointer;
}

#panel-item-collection.affix {
	top: 65px;
	left: 79%;
	width: 21%;
}

.video-content iframe {
	height: 200px;
	width: 400px;
}