/* ToDo: add flex-grow, flex-shrink, flex-basis, flex-flow, align-items, align-self, justify-content mixins */
/*
*   @description
*   Generates border radius for a given element
*   @example
*  .selector {
*       @include border-radius(5px);
*   }
*/
/*
*   @description
*   Generates opacity for a given element
*   @example
*  .selector {
*       @include opacity(5px);
*   }
*/
/*
*   @description
*   Generates box shadow for a given element
*   @example
*  .selector {
*       @include box-shadow(5px 5px 10px 5px #aaa);
*   }
*/
/*
*   @description
*   Generates text shadow for a given element
*   @example
*  .selector {
*       @include text-shadow(5px 5px 10px 5px #aaa);
*   }
*/
/*
 * @description
 * Generates a linear gradient for a given element with a fallback color.
 * @example
 *   .selector {
 *     @include linear-gradient("to bottom", #ccc, #ddd, #bbb);
 *   }
 */
/*
 * @description
 * Generates `placeholder` content for a given element
  * @example
 *   .selector {
 *     @include x-placeholder {
 *         color: #bada55;
 *         font-weight: bold;
 *     }
 *   }
 */
/*
 * @description
 * Generates cross-browser-compatible `transform` for a given element
 * @example
 *   .selector {
 *     @include x-transform(rotate(1deg));
 *   }
 */
/*
 * @description
 * Generates cross-browser-compatible `transition` output for a given element.
 * @example
 *   .selector {
 *     @include x-transition(background 0.3s ease-in);
 *   }
 */
/* 
	* { outline: dotted 1px red;  } 
*/
/* line 5, ../sass/_reset.scss */
.line-db {
  box-shadow: 0px 0px 5px #fff inset;
}

/* line 7, ../sass/_reset.scss */
* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

/* line 11, ../sass/_reset.scss */
body,
html,
div,
header, nav,
footer,
h1, h2,
ul, li,
a, span,
p, label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 29, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  position: relative;
}

/*box-sizing*/
/* line 36, ../sass/_reset.scss */
div {
  position: relative;
}

/* line 38, ../sass/_reset.scss */
.clearfix {
  clear: both;
}

/* line 40, ../sass/_reset.scss */
li {
  list-style: none;
  /* display: inline-block; */
}

/* line 45, ../sass/_reset.scss */
a {
  text-decoration: none;
  color: #000;
  outline: none;
}

/* 
html,body,section{
position: relative;
height: 100%;
width: 100%;
}
*/
/* line 3, ../sass/_helper.scss */
.whiteRed {
  color: rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}
/* line 8, ../sass/_helper.scss */
.whiteRed:before {
  position: absolute;
  color: white;
  z-index: 1;
}
/* line 13, ../sass/_helper.scss */
.whiteRed:after {
  position: absolute;
  color: red;
  /* rgba(255,255,255,1); */
  text-shadow: -2px -2px 0 #e72c2d, 2px -2px 0 #e72c2d, -2px 2px 0 #e72c2d, 2px 2px 0 #e72c2d;
  z-index: -1;
}
/* line 22, ../sass/_helper.scss */
.whiteRed:before, .whiteRed:after {
  content: attr(title);
  bottom: 1px;
  left: 1px;
}

/* line 29, ../sass/_helper.scss */
.redWhite {
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
}
/* line 34, ../sass/_helper.scss */
.redWhite:before {
  position: absolute;
  color: #e72c2d;
  z-index: 1;
}
/* line 40, ../sass/_helper.scss */
.redWhite:after {
  position: absolute;
  color: #e72c2d;
  text-shadow: -2px -2px 0 #fff,  2px -2px 0 #fff, -2px  2px 0 #fff, 2px  2px 0 #fff;
  z-index: -1;
}

/* line 50, ../sass/_helper.scss */
.redWhite:before,
.redWhite:after {
  content: attr(title);
  bottom: 1px;
  left: 98px;
}

/* line 57, ../sass/_helper.scss */
.explore {
  display: inline-block;
  background: transparent url(../img/btn-down.png);
  width: 68px;
  height: 20px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 20px;
}

/* line 48, icons/*.png */
.icons-sprite, .icons-icons-sf91ef53fd8 {
  background-image: url('../img/icons-sdd65a599b5.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icons-sf91ef53fd8 {
  background-position: 0 0;
}

/* line 1, ../sass/_base.scss */
body {
  background-color: #000;
  font-family: 'Intro';
  font-size: 14px;
}

/* line 7, ../sass/_base.scss */
h1 {
  font-size: 38px;
}

/* line 11, ../sass/_base.scss */
.container {
  width: 1025px;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
}

/* line 20, ../sass/_base.scss */
.icon-fb {
  background: transparent url(../img/btn-fb.png) center;
}

/* line 23, ../sass/_base.scss */
.icon-tw {
  background: transparent url(../img/btn-tw.png) center;
}

/* line 26, ../sass/_base.scss */
.icon-ins {
  background: transparent url(../img/btn-ins.png) center;
}

/* line 29, ../sass/_base.scss */
.icon-fb, .icon-tw, .icon-ins {
  display: inline-block;
  width: 34px;
  height: 33px;
  background-repeat: no-repeat;
  vertical-align: middle;
}

/* line 38, ../sass/_base.scss */
.header .container .burger {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 10;
  cursor: pointer;
  /* border:1px solid white; */
  display: none;
  height: 35px;
  padding: 5px;
}
/* line 49, ../sass/_base.scss */
.header .container .burger .bar {
  height: 5px;
  width: 25px;
  display: block;
  background-color: #fff;
  border-radius: 3px;
}
/* line 60, ../sass/_base.scss */
.header .container .burger .bar:after, .header .container .burger .bar:before {
  content: '';
  height: 5px;
  width: 25px;
  display: block;
  background-color: #fff;
  position: absolute;
  border-radius: 3px;
}
/* line 73, ../sass/_base.scss */
.header .container .burger .bar:after {
  top: 23px;
}
/* line 77, ../sass/_base.scss */
.header .container .burger .bar:before {
  top: 14px;
}

/* line 85, ../sass/_base.scss */
.header {
  height: 90px;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.7);
  position: fixed;
  z-index: 4;
  /* opacity: 0.8;*/
  top: 0;
  left: 0;
  color: #fff;
}
/* line 96, ../sass/_base.scss */
.header .f-us {
  position: absolute;
  top: 10px;
  left: 26px;
  font-size: 13px;
  font-family: 'HelveticaRegular';
}
/* line 104, ../sass/_base.scss */
.header .mainNav, .header .socialNav {
  height: 100%;
}
/* line 107, ../sass/_base.scss */
.header .mainNav > li, .header .socialNav > li {
  display: inline-block;
}
/* line 111, ../sass/_base.scss */
.header .mainNav li:before, .header .socialNav li:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 119, ../sass/_base.scss */
.header .socialNav {
  float: left;
}
/* line 121, ../sass/_base.scss */
.header .socialNav li {
  float: left;
  height: 100%;
  padding: 0 10px;
}
/* line 126, ../sass/_base.scss */
.header .socialNav li.acc {
  font-size: 13px;
  font-family: 'HelveticaRegular';
}
/* line 130, ../sass/_base.scss */
.header .socialNav li a.spcTop {
  margin-top: 15px;
}
/* line 133, ../sass/_base.scss */
.header .socialNav li span {
  display: inline-block;
  margin-top: 43px;
}
/* line 139, ../sass/_base.scss */
.header .mainNav {
  /* display: none; */
  margin-top: 8px;
  /* border:1px dashed #ccc; */
  float: right;
}
/* line 146, ../sass/_base.scss */
.header .mainNav li {
  float: left;
  height: 100%;
  padding: 0 23px;
}
/* line 151, ../sass/_base.scss */
.header .mainNav li a {
  font-size: 17px;
  font-family: 'HelveticaBold';
  color: #fff;
  /*  a.active { } */
}

/* line 161, ../sass/_base.scss */
#splash {
  background: #000 url(../img/splashBg.jpg) no-repeat;
  background-size: cover;
}

/* line 166, ../sass/_base.scss */
#splash .container,
.header .container {
  height: 100%;
}

/* line 171, ../sass/_base.scss */
#splash .container {
  padding-top: 90px;
}
/* line 174, ../sass/_base.scss */
#splash .container .leftCont, #splash .container .rightCont {
  margin-top: 45px;
  float: left;
  width: 50%;
}
/* line 180, ../sass/_base.scss */
#splash .container .leftCont {
  text-align: center;
}
/* line 182, ../sass/_base.scss */
#splash .container .leftCont img {
  display: inline-block;
  /*  max-width: 100%; */
  height: auto;
}
/* line 188, ../sass/_base.scss */
#splash .container .leftCont img.partners {
  margin-top: 20px;
}
/* line 193, ../sass/_base.scss */
#splash .container .rightCont {
  position: relative;
  /* border:1px dashed red; */
  padding-top: 25px;
  padding: 0 10px;
  height: 288px;
  width: 482px;
  /*  img {
      max-width: 100%;
      height: auto;
  } */
}
/* line 202, ../sass/_base.scss */
#splash .container .rightCont iframe {
  padding: 0 15px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 218, ../sass/_base.scss */
.desc-wrap {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 150px;
}

/* line 226, ../sass/_base.scss */
.topDescription {
  display: inline-block;
  text-align: center;
  width: 60%;
}

/* line 233, ../sass/_base.scss */
#mechanics {
  text-align: center;
  height: 1500px;
  background: #000 url(../img/mechanicsBg.jpg) center no-repeat;
  background-size: cover;
  padding-top: 140px;
}
/* line 241, ../sass/_base.scss */
#mechanics .title {
  font-family: 'Intro';
  color: #fff;
  display: block;
  margin-bottom: 30px;
}
/* line 247, ../sass/_base.scss */
#mechanics .orCont {
  height: 50px;
  background-color: transparent;
  text-align: center;
}
/* line 252, ../sass/_base.scss */
#mechanics .orCont .or_c {
  display: inline-block;
  width: 112px;
  /* height: 122px; */
  padding: 25px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #f00;
  border: 5px solid #fff;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 3;
  color: #fff;
  font-size: 44px;
  font-family: 'HelveticaBold';
  border-radius: 60px;
}
/* line 278, ../sass/_base.scss */
#mechanics .joinLive {
  width: 100%;
  padding: 50px 80px;
  background: #fff;
}
/* line 283, ../sass/_base.scss */
#mechanics .joinLive .content {
  display: block;
  width: 100%;
  font-size: 35px;
  font-family: 'Intro';
}
/* line 289, ../sass/_base.scss */
#mechanics .joinLive .seefull {
  display: block;
  font-size: 18px;
  font-family: 'HelveticaRegular';
  margin-top: 28px;
}
/* line 297, ../sass/_base.scss */
#mechanics .s-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  background-color: #f00;
  text-align: center;
}
/* line 306, ../sass/_base.scss */
#mechanics .s-header .orientHead {
  display: inline-block;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  word-wrap: break-word;
  width: 20px;
}
/* line 321, ../sass/_base.scss */
#mechanics .steps {
  /* padding: 0 15px; */
  background-color: #fff;
  padding-left: 60px;
  position: relative;
}
/* line 327, ../sass/_base.scss */
#mechanics .steps li.s-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  background-color: #f00;
}
/* line 335, ../sass/_base.scss */
#mechanics .steps li.s-header span {
  display: inline-block;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 348, ../sass/_base.scss */
#mechanics .steps li {
  float: left;
  width: 33.333%;
  /* height: 212px; */
  /* min-height: 212px; */
  background-color: transparent;
  /* margin-right: 1.333%; */
  /* border: 1px dashed #fff; */
  display: inline-block;
  /* padding: 5px; */
  border-right: 2px solid #ccc;
}
/* line 360, ../sass/_base.scss */
#mechanics .steps li .innerCont {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 40px 30px 60px;
  color: #000;
  text-align: left;
  font-family: 'HelveticaRegular';
  font-size: 14px;
  /* .circle, */
}
/* line 371, ../sass/_base.scss */
#mechanics .steps li .innerCont .desc {
  font-family: 'Intro';
}
/* line 375, ../sass/_base.scss */
#mechanics .steps li .innerCont p {
  text-align: center;
  font-size: 14px;
}
/* line 379, ../sass/_base.scss */
#mechanics .steps li .innerCont p a {
  font-weight: 800;
  color: #e72c2e;
  text-decoration: underline;
}
/* line 386, ../sass/_base.scss */
#mechanics .steps li .innerCont .img, #mechanics .steps li .innerCont .desc {
  float: left;
}
/* line 390, ../sass/_base.scss */
#mechanics .steps li .innerCont .img {
  width: 35%;
}
/* line 392, ../sass/_base.scss */
#mechanics .steps li .innerCont .img img {
  max-width: 100%;
  height: auto;
}
/* line 395, ../sass/_base.scss */
#mechanics .steps li .innerCont .desc {
  font-size: 35px;
  width: 65%;
  padding: 11px 0;
  margin-bottom: 15px;
}
/* line 402, ../sass/_base.scss */
#mechanics .steps li .innerCont .desc.p75 {
  width: 72%;
}
/* line 405, ../sass/_base.scss */
#mechanics .steps li .innerCont .img.p25 {
  width: 28%;
}
/* line 412, ../sass/_base.scss */
#mechanics #box-cont {
  margin: 80px 0;
  width: 1350px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}
/* line 422, ../sass/_base.scss */
#mechanics .custom-select {
  position: relative;
  width: 100%;
  margin: 0 auto;
  /* margin-bottom: 30px; */
}
/* line 429, ../sass/_base.scss */
#mechanics .custom-select .selection-list {
  /*  display: none; */
}
/* line 434, ../sass/_base.scss */
#mechanics .custom-select .btn-control {
  height: 33px;
  width: 95%;
  border: 1px solid #ccc;
  margin: 0 auto;
  margin-bottom: 20px;
  display: none;
  border-radius: 5px;
  cursor: pointer;
}
/* line 449, ../sass/_base.scss */
#mechanics .custom-select .btn-control .btn-select {
  background: transparent url(../img/btn-select.png) center no-repeat;
  height: 31px;
  width: 32px;
  position: absolute;
  right: 0px;
  top: 0px;
}
/* line 458, ../sass/_base.scss */
#mechanics .custom-select .btn-control .txtHolder {
  color: #444;
  display: inline-block;
  height: 27px;
  width: 85%;
  /*  border: 1px solid red; */
  margin: 2px 0;
  font-family: 'HelveticaRegular';
  font-size: 14px;
  text-indent: 10px;
  padding-top: 5px;
  /* width: 250px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 477, ../sass/_base.scss */
#mechanics .box {
  position: absolute;
  /* height: 606px; */
  text-align: left;
  padding: 50px 0;
  /* -webkit-box-shadow: -3px -2px 13px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px -2px 13px -3px rgba(0,0,0,0.75);
  box-shadow: -3px -2px 13px -3px rgba(0,0,0,0.75); */
  box-shadow: -9px -5px 11px 0px rgba(0, 0, 0, 0.6);
}
/* line 492, ../sass/_base.scss */
#mechanics .box._red,
#mechanics .box._green {
  top: 10px;
  height: 606px;
}
/* line 498, ../sass/_base.scss */
#mechanics .box._green {
  background-color: #3d9946;
  -webkit-transform: rotate(-1deg);
  /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
  -ms-transform: rotate(-1deg);
  /* IE 9 */
  transform: rotate(-1deg);
  left: 20px;
  width: 1330px;
  z-index: 2;
}
/* line 508, ../sass/_base.scss */
#mechanics .box._red {
  background-color: #d13531;
  -webkit-transform: rotate(2deg);
  /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
  -ms-transform: rotate(2deg);
  /* IE 9 */
  transform: rotate(2deg);
  left: -20px;
  width: 1380px;
  z-index: 1;
}
/* line 518, ../sass/_base.scss */
#mechanics .box._white {
  top: 40px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 1280px;
  width: 100%;
  z-index: 3;
}
/* line 533, ../sass/_base.scss */
#mechanics .box._white .category, #mechanics .box._white .preview {
  width: 50%;
  float: left;
  min-height: 474px;
}
/* line 538, ../sass/_base.scss */
#mechanics .box._white .category .inner-content, #mechanics .box._white .preview .inner-content {
  /* padding-right: 15px; */
}
/* line 543, ../sass/_base.scss */
#mechanics .box._white .category {
  border-right: 3px solid #8e8e8e;
  /* .f-mechanics, */
}
/* line 546, ../sass/_base.scss */
#mechanics .box._white .category .f-mechanics {
  width: 100%;
  position: relative;
}
/* line 550, ../sass/_base.scss */
#mechanics .box._white .category .f-mechanics .img-desktop {
  position: relative;
  display: block;
  width: 90%;
  text-align: right;
}
/* line 556, ../sass/_base.scss */
#mechanics .box._white .category .f-mechanics .img-desktop img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
/* line 564, ../sass/_base.scss */
#mechanics .box._white .category .t-label {
  color: #d12d2e;
  font-size: 28px;
  margin: 20px 0;
}
/* line 569, ../sass/_base.scss */
#mechanics .box._white .category .custom-select .selection-list li {
  list-style-type: disc;
}
/* line 575, ../sass/_base.scss */
#mechanics .box._white .category .t-label {
  text-indent: 150px;
}
/* line 579, ../sass/_base.scss */
#mechanics .box._white .category .custom-select .selection-list li {
  margin-left: 170px;
}
/* line 583, ../sass/_base.scss */
#mechanics .box._white .category .custom-select .selection-list li a {
  display: block;
  font-size: 14px;
  /*  font-family: 'HelveticaRegular'; */
  font-family: 'HelveticaBold';
  padding: 4px 8px;
}
/* line 590, ../sass/_base.scss */
#mechanics .box._white .category .custom-select .selection-list li a:hover {
  background-color: #e72c2e;
  color: #fff;
}
/* line 595, ../sass/_base.scss */
#mechanics .box._white .category .custom-select .selection-list li a.active {
  background-color: #aaa;
  color: #000;
}
/* line 602, ../sass/_base.scss */
#mechanics .box._white .preview {
  font-family: 'HelveticaRegular';
  font-size: inherit;
  padding: 60px 20px 0;
  padding-right: 120px;
}

/* line 613, ../sass/_base.scss */
#mechanics .steps li:nth-child(1),
#mechanics .steps li:nth-child(4) {
  border: 0;
}

/* line 619, ../sass/_base.scss */
.firstStepCont {
  border: 1px dashed #fff;
  padding: 5px;
}

/* line 624, ../sass/_base.scss */
footer {
  position: relative;
  color: #fff;
  background-color: #e13b2a;
  padding: 20px 0;
}
/* line 629, ../sass/_base.scss */
footer .container {
  text-align: center;
  font-family: 'HelveticaBold';
}

/* line 642, ../sass/_base.scss */
section.checkSoon {
  width: 690px;
  height: 361px;
  background-color: #fff;
  max-width: 100%;
}
/* line 648, ../sass/_base.scss */
section.checkSoon .btn-close {
  display: inline-block;
  height: 50px;
  width: 50px;
  background: transparent url(../img/closeBg.png) center no-repeat;
  position: absolute;
  right: -10px;
  top: -10px;
  z-index: 1;
}
/* line 659, ../sass/_base.scss */
section.checkSoon .content {
  display: block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/* line 670, ../sass/_base.scss */
section.checkSoon .label1 {
  display: block;
  font-size: 40px;
  font-family: 'Intro';
}
/* line 675, ../sass/_base.scss */
section.checkSoon .label2 {
  display: block;
  font-size: 24px;
  font-family: 'HelveticaRegular';
}

/* line 683, ../sass/_base.scss */
.inner-content .container {
  font-family: Arial;
  color: #000;
  font-size: 12px;
}
/* line 687, ../sass/_base.scss */
.inner-content .container .in-title {
  font-size: 14px;
  font-weight: bold;
}
/* line 692, ../sass/_base.scss */
.inner-content .container > p, .inner-content .container > span {
  display: block;
}
/* line 698, ../sass/_base.scss */
.inner-content .container .decimal > li {
  margin-left: 30px;
  list-style: decimal;
}
/* line 705, ../sass/_base.scss */
.inner-content .container .lower-latin > li {
  list-style: lower-latin;
  margin-left: 40px;
}
/* line 712, ../sass/_base.scss */
.inner-content .container .lower-roman > li {
  margin-left: 30px;
  list-style: lower-roman;
}
/* line 719, ../sass/_base.scss */
.inner-content .container .disc > li {
  margin-left: 30px;
  list-style: disc;
}

@media (max-width: 1366px) {
  /* line 2, ../sass/_tablet.scss */
  #mechanics {
    height: 1500px;
    padding-top: 110px;
  }
  /* line 6, ../sass/_tablet.scss */
  #mechanics #box-cont {
    height: 635px;
    overflow: hidden;
  }
  /* line 11, ../sass/_tablet.scss */
  #mechanics .container {
    margin-bottom: 20px;
  }
  /* line 15, ../sass/_tablet.scss */
  #mechanics .box._white .category .f-mechanics,
  #mechanics .box._white .category .t-label {
    text-indent: 50px;
  }
  /* line 19, ../sass/_tablet.scss */
  #mechanics .box._white .category .custom-select .selection-list li {
    margin-left: 55px;
  }

  /* line 23, ../sass/_tablet.scss */
  #mechanics .box._white .preview {
    padding: 60px 50px 0px 20px;
  }
}
@media (max-width: 1024px) {
  /* line 29, ../sass/_tablet.scss */
  html, body, section {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 980px) {
  /* line 37, ../sass/_tablet.scss */
  #mechanics {
    /* height: 1980px + 100px; */
    height: auto;
  }
  /* line 41, ../sass/_tablet.scss */
  #mechanics #box-cont {
    /* height: 630px; */
    height: auto;
  }
  /* line 45, ../sass/_tablet.scss */
  #mechanics #box-cont .box._white {
    position: relative;
    left: initial;
    right: initial;
    bottom: initial;
    top: 30px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  /* line 56, ../sass/_tablet.scss */
  #splash .container .leftCont {
    width: 100%;
    float: none;
  }

  /* line 61, ../sass/_tablet.scss */
  #splash .container .rightCont {
    margin: 0 auto;
    float: none;
  }
  /* line 65, ../sass/_tablet.scss */
  #splash .container .rightCont iframe {
    padding: 0;
  }

  /* line 71, ../sass/_tablet.scss */
  #mechanics .joinLive {
    padding: 0;
  }
  /* line 73, ../sass/_tablet.scss */
  #mechanics .joinLive .s-header {
    float: none;
    height: 60px;
    position: relative;
    top: initial;
    left: initial;
    width: 100%;
  }
  /* line 81, ../sass/_tablet.scss */
  #mechanics .joinLive .s-header .orientHead {
    width: 100%;
  }
  /* line 86, ../sass/_tablet.scss */
  #mechanics .joinLive .content {
    padding: 30px;
  }
  /* line 89, ../sass/_tablet.scss */
  #mechanics .joinLive .seefull {
    padding-bottom: 20px;
    margin: 0;
  }

  /* line 95, ../sass/_tablet.scss */
  #mechanics .orCont {
    height: 135px;
  }

  /* .splash {
  	.container {
  		text-align: center;
  		.leftCont, 
  		.rightCont {
  		width: 100%;
  		padding: 0;
  		margin-top: 20px;
  		}
  	}
  } */
  /* line 111, ../sass/_tablet.scss */
  .topDescription {
    width: 100%;
  }
  /* line 114, ../sass/_tablet.scss */
  .topDescription .whiteRed {
    width: 60%;
    text-align: center;
    margin: 0 auto;
  }
  /* line 119, ../sass/_tablet.scss */
  .topDescription .whiteRed,
  .topDescription .redWhite {
    font-size: 31px;
    color: transparent;
  }
  /* line 125, ../sass/_tablet.scss */
  .topDescription .redWhite:before,
  .topDescription .redWhite:after {
    left: 208px;
  }

  /* line 134, ../sass/_tablet.scss */
  #mechanics .firstStepCont.special {
    width: 520px;
    max-width: 100%;
    margin: 0 auto;
  }
  /* line 140, ../sass/_tablet.scss */
  #mechanics .steps {
    padding: 0;
    background-color: transparent;
    display: inline-block;
  }
  /* line 145, ../sass/_tablet.scss */
  #mechanics .steps li.s-header {
    float: none;
    height: 60px;
    position: relative;
    top: initial;
    left: initial;
    width: 100%;
  }
  /* line 153, ../sass/_tablet.scss */
  #mechanics .steps li.s-header .orientHead {
    width: 100%;
  }
  /* line 158, ../sass/_tablet.scss */
  #mechanics .steps li {
    display: block;
    float: none;
    width: 100%;
    margin: 0 auto;
    border: 0;
    border-bottom: 2px solid #ccc;
  }
  /* line 168, ../sass/_tablet.scss */
  #mechanics .title {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  /* line 174, ../sass/_tablet.scss */
  #mechanics .box._white .preview {
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 60px;
  }
  /* line 181, ../sass/_tablet.scss */
  #mechanics .box._white .category .f-mechanics,
  #mechanics .box._white .category .t-label {
    font-size: 30px;
    text-indent: 20px;
  }
  /* line 187, ../sass/_tablet.scss */
  #mechanics .box._white .category .custom-select .selection-list li {
    margin-left: 30px;
  }

  /* line 192, ../sass/_tablet.scss */
  #mechanics .steps li .innerCont .img,
  #mechanics .steps li .innerCont .img.p25 {
    width: 20%;
    text-align: center;
  }
  /* line 197, ../sass/_tablet.scss */
  #mechanics .steps li .innerCont .img img,
  #mechanics .steps li .innerCont .img.p25 img {
    display: inline-block;
  }

  /* line 202, ../sass/_tablet.scss */
  #mechanics .steps li .innerCont .desc,
  #mechanics .steps li .innerCont .desc.p75 {
    width: 80%;
    margin-bottom: 0;
    padding-left: 10px;
  }

  /* line 209, ../sass/_tablet.scss */
  #mechanics .steps li .innerCont p {
    float: right;
    width: 80%;
    padding-left: 10px;
    text-align: left;
  }
}
@media (max-width: 640px) {
  /* line 2, ../sass/_mobile.scss */
  .desc-wrap {
    padding-bottom: 0;
  }

  /* line 5, ../sass/_mobile.scss */
  .lytebox .lytebox-content {
    border: none;
  }

  /* line 9, ../sass/_mobile.scss */
  section.checkSoon .label1 {
    padding: 0 15px;
    font-size: 30px;
  }
  /* line 13, ../sass/_mobile.scss */
  section.checkSoon .label2 {
    font-size: 16px;
  }

  /* line 19, ../sass/_mobile.scss */
  html, body, section {
    position: relative;
    width: 100%;
    height: auto;
  }

  /* line 25, ../sass/_mobile.scss */
  .header {
    opacity: 1;
    height: 60px;
    background-color: rgba(255, 0, 0, 0.9);
  }
  /* line 31, ../sass/_mobile.scss */
  .header .container .mainNav {
    display: none;
  }
  /* line 34, ../sass/_mobile.scss */
  .header .container .burger {
    display: block;
  }
  /* line 39, ../sass/_mobile.scss */
  .header .f-us {
    font-size: 10px;
    left: 20px;
  }
  /* line 44, ../sass/_mobile.scss */
  .header .socialNav li {
    padding: 0px 5px;
  }
  /* line 47, ../sass/_mobile.scss */
  .header .socialNav li a.spcTop {
    height: 23px;
    width: 24px;
    background-size: contain;
    margin-top: 15px;
  }
  /* line 53, ../sass/_mobile.scss */
  .header .socialNav li span {
    font-size: 12px;
    margin-top: 30px;
  }

  /* line 62, ../sass/_mobile.scss */
  #splash .container {
    padding-top: 60px;
    padding-bottom: 100px;
  }
  /* line 66, ../sass/_mobile.scss */
  #splash .container .leftCont,
  #splash .container .rightCont {
    float: none;
    width: 100%;
  }
  /* line 71, ../sass/_mobile.scss */
  #splash .container .leftCont img,
  #splash .container .rightCont img {
    max-width: 100%;
    height: auto;
  }
  /* line 76, ../sass/_mobile.scss */
  #splash .container .rightCont {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
  }

  /* line 86, ../sass/_mobile.scss */
  .topDescription {
    position: relative;
    top: initial;
    left: initial;
    bottom: initial;
    right: initial;
  }
  /* line 94, ../sass/_mobile.scss */
  .topDescription .whiteRed,
  .topDescription .redWhite {
    color: transparent;
    position: relative;
    top: initial;
    bottom: initial;
    right: initial;
    left: initial;
    display: block;
    width: 100%;
    font-size: 25px;
  }
  /* line 108, ../sass/_mobile.scss */
  .topDescription .whiteRed:before, .topDescription .whiteRed:after,
  .topDescription .redWhite:before,
  .topDescription .redWhite:after {
    left: 11px;
  }
  /* line 114, ../sass/_mobile.scss */
  .topDescription .redWhite:before, .topDescription .redWhite:after {
    left: 35px;
  }

  /* line 121, ../sass/_mobile.scss */
  .header .mainNav {
    float: none;
    position: absolute;
    top: 52px;
    right: 15px;
    width: 60%;
    background-color: rgba(255, 0, 0, 0.9);
    height: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  }
  /* line 131, ../sass/_mobile.scss */
  .header .mainNav.active {
    display: block;
  }
  /* line 139, ../sass/_mobile.scss */
  .header .mainNav li {
    float: none;
    height: auto;
    display: block;
    padding: 0px;
    width: 100%;
  }
  /* line 146, ../sass/_mobile.scss */
  .header .mainNav li a {
    padding: 10px 20px;
    display: block;
  }
  /* line 151, ../sass/_mobile.scss */
  .header .mainNav li:hover, .header .mainNav li > a.active {
    background-color: #891314;
  }
  /* line 156, ../sass/_mobile.scss */
  .header .mainNav li:before {
    display: none;
    height: auto;
    vertical-align: none;
  }

  /* line 167, ../sass/_mobile.scss */
  #mechanics {
    padding-top: 80px;
    height: auto;
  }
  /* line 171, ../sass/_mobile.scss */
  #mechanics .container .title {
    font-size: 25px;
    width: 90%;
  }
  /* line 176, ../sass/_mobile.scss */
  #mechanics #box-cont {
    height: auto;
    margin: 0;
    padding-bottom: 30px;
  }
  /* line 181, ../sass/_mobile.scss */
  #mechanics .steps li {
    width: 100%;
  }
  /* line 184, ../sass/_mobile.scss */
  #mechanics .steps li .innerCont .desc {
    font-size: 30px;
    /* text-align: center; */
    /* padding-left: 15px; */
  }
  /* line 189, ../sass/_mobile.scss */
  #mechanics .steps li .innerCont {
    padding: 20px 20px 40px;
  }
  /* line 193, ../sass/_mobile.scss */
  #mechanics .box._white {
    height: auto;
    position: relative;
    top: 30px;
    left: initial;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  /* line 200, ../sass/_mobile.scss */
  #mechanics .box._white .category,
  #mechanics .box._white .preview {
    min-height: 0px;
    width: 100%;
    float: none;
  }
  /* line 206, ../sass/_mobile.scss */
  #mechanics .box._white .preview {
    padding: 0 15px;
  }
  /* line 211, ../sass/_mobile.scss */
  #mechanics .joinLive .content {
    font-size: 25px;
    padding: 15px;
  }

  /* CUSTOM LIST TO SELECT TAG */
  /* line 219, ../sass/_mobile.scss */
  #mechanics .box._white .category .t-label {
    margin: 20px 0;
  }

  /* line 223, ../sass/_mobile.scss */
  #mechanics .custom-select .btn-control {
    display: block;
  }

  /* line 226, ../sass/_mobile.scss */
  #mechanics .box._white .category .f-mechanics .img-desktop {
    width: 100%;
    text-align: center;
  }
  /* line 229, ../sass/_mobile.scss */
  #mechanics .box._white .category .f-mechanics .img-desktop img {
    display: block;
    padding: 0 15px;
  }

  /* line 234, ../sass/_mobile.scss */
  #mechanics .box._white .category .custom-select .selection-list {
    width: 95%;
    position: absolute;
    top: 33px;
    left: 3%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: 0;
    z-index: 300;
    box-shadow: 3px 3px 5px #888;
    display: none;
  }
  /* line 250, ../sass/_mobile.scss */
  #mechanics .box._white .category .custom-select .selection-list.active {
    display: block;
  }
  /* line 254, ../sass/_mobile.scss */
  #mechanics .box._white .category .custom-select .selection-list li {
    margin: 0px;
    list-style: none;
  }
}
@media (max-width: 320px) {
  /* line 281, ../sass/_mobile.scss */
  #mechanics .steps li .innerCont {
    padding-right: 20px;
    padding-left: 20px;
  }

  /* line 285, ../sass/_mobile.scss */
  .topDescription {
    position: relative;
    top: initial;
    left: initial;
    bottom: initial;
    right: initial;
  }
  /* line 292, ../sass/_mobile.scss */
  .topDescription .whiteRed,
  .topDescription .redWhite {
    position: relative;
    top: initial;
    bottom: initial;
    right: initial;
    left: initial;
    display: block;
    width: 100%;
    font-size: 25px;
  }
  /* line 305, ../sass/_mobile.scss */
  .topDescription .whiteRed:before, .topDescription .whiteRed:after,
  .topDescription .redWhite:before,
  .topDescription .redWhite:after {
    left: 0px;
  }
  /* line 311, ../sass/_mobile.scss */
  .topDescription .redWhite:before, .topDescription .redWhite:after {
    left: 14px;
  }
}
