{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
{% for text, link in breadcrumbs %}
	<li{% if loop.last %} class="active"{% endif %}>
		{% if link is not empty %}
			<a href="{{ path(link) }}">{{ text }}</a>
		{% else %}
			{{ text }}
		{% endif %}
	</li>
{% endfor %}
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{% if header_icon is not empty %}{{ FAIcon(header_icon) }}{% endif %} Import {{ type }} Data</h1>
	<div class="pull-right">
         
	</div>
</div>

{{ form_errors(form) }}

{{ form_start(form, {'action': path(submission_path), 'method': 'POST', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate'} }) }}
{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-sm-12">
			
			{% if errors is defined and errors|length > 0 %}
			<div class="alert alert-danger alert-dark">
			    <p>Records were not imported. At least one error has been found.</p>
			    <p><br/></p>
				{% for key, error in errors %}
					<div>Error at row # {{ key }}
						<ul>
							{% for list in error %}
								{% for violation in list %}
									<li>{{ violation.message }}</li>
								{% endfor %}
							{% endfor %}
						</ul>
					</div>
				{% endfor %}
			</div>
			{% endif %}
	    	
	    	<div class="row">
	    	    <div class="col-sm-7 col-sm-offset-1">
	    	        <p><strong class="text-bg">Step 1:</strong> Download the template (XLS).</p>
	    	        <p><a class="btn btn-labeled" href="{{ asset('assets/templates/' ~ template) }}">{{ FAIcon('download', 'btn-label') }} <em>{{ type }} Template (XLS)</em></a></p>
	    	        <p><br/></p>
	    	        <p><strong class="text-bg">Step 2:</strong> Open the XLS file in a spreadsheet application, such as <strong>Microsoft Office</strong> or <strong>Google Sheets</strong>.
	    	        Enter the values according to the columns in the file.  Each row pertains to one entry (e.g. 1 customer). 
	    	        Those columns with red asterisks <span class="text-danger"></span>(*)</span> are required columns. 
	    	        </p>
	    	        <div class="note note-info padding-xs-vr">
            			{{ FAIcon('lightbulb-o') }} TIP: You can add multiple contacts for each customer or supplier entry by adding a new row but ommiting the same columns.  
            		</div>
	    	        <p><br/></p>
	    	        <p><strong class="text-bg">Step 3:</strong> Select the file to import and click the <strong>'Import'</strong> button. Then you're done!</p>
	    	        {{ form_row(form.file) }}
	    	        <p><br/></p>
                	{{ form_widget(form.import) }}
    				<a href="{{ path(return_path) }}" class="btn btn-default">Back</a>
	    	    </div>
	    	</div>
	    	
	    	
		</div>
	</div>
{{ form_end(form) }}
{% endblock %}