{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Dashboard</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>{{ FAIcon('dashboard', 'page-header-icon') }} Dashboard</h1>
		</div>
	</div>
</div>
{% endblock content %}