<!DOCTYPE html>
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if IE 9]><html class="ie9 gt-ie8"><![endif]-->
<!--[if gt IE 9]><!--><html class="gt-ie8 gt-ie9 not-ie"><!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        
        <title>{% block title %}Greenwich{% endblock %}</title>
        
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/pixel-admin.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/themes.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/lib/typeahead/typeahead.css') }}">
        {% block stylesheets %}{% endblock %}
        
        <link rel="shortcut icon" href="{{ asset('gwlogo.ico') }}" />
    </head>
    <body class="theme-adminflare {% block bodyClass %}main-menu-animated main-menu-fixed main-navbar-fixed animate-mm-sm animate-mm-md animate-mm-lg{% if app.user.isSidebarCollapsed %} mmc{% endif %}{% endblock %}">
    	<!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

    	{% block body %}{% endblock %}
	    
	    {% block fos_login %}{% endblock %}
	    <script src="{{ asset('assets/js/jquery-2.1.1.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/pixel-admin.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.form.js') }}"></script>
        {% if app.environment == 'dev' %}
        <script src="{{ asset('assets/js/app_dev.js') }}"></script>
        {% else %}
        <script src="{{ asset('assets/js/app.js') }}"></script>
        {% endif %}
        <script src="{{ asset('assets/js/jquery.timeago.js') }}"></script>
        <script src="{{ asset('assets/js/utils.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.form.js') }}"></script>
        <script src="{{ asset('assets/lib/typeahead/typeahead.bundle.min.js') }}"></script>
        {% block layout_scripts %}{% endblock %}
    </body>
</html>