{% macro media(media, key) %}
{% import 'CICoreBundle::utils.html.twig' as utils %}

<tr{% if key is defined %} data-key="{{ key }}"{% endif %}>
	<td>
		{{ utils.imageThumbnail(media,  media.vars.value and media.vars.value.id ? media.vars.value.webPath : null, 0) }}
		{{ form_errors(media.file) }}
	</td>
	<td>{{ form_widget(media.youtubeVideoEmbedCode) }} {{ form_errors(media.youtubeVideoEmbedCode) }}</td>
	<td class="text-right">
		<p class="form-control-static"><a href="#" class="btn btn-default btn-sm delete-btn">{{ icon('trash') }}</a></p>
	</td>
</tr>
{% endmacro %}