{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIBandkadaBundle:Album:macro.html.twig' as macro %}

{% block breadcrumbs %}
<li><a href="{{ path('album') }}">Albums</a></li>
<li class="active">New</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('picture-o', 'page-header-icon') }} New Album</h1>
</div>

{% if form_errors(form) is not empty %}
	{{ form_errors(form) }}<br/>
{% endif %}

{{ form_start(form, {'action': path('album_create'), 'method': 'POST', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate' } }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-5">
					{{ utils.imageThumbnail(form, null, 1) }}
					{{ form_row(form.name) }}
					{{ form_row(form.eventDate) }}
				</div>
				
				<div class="col-sm-5">
					{{ form_row(form.description) }}
				</div>
			</div>
			
			<br/>
			
			<div class="row">
				<div class="col-sm-12">
	        		<div class="table-responsive">
	        			<table class="table table-primary table-collection" data-prototype="{{ macro.media(form.media.vars.prototype)|e }}">
							<thead>
								<tr>
									<th class="col-sm-5 text-center">Image <small>(required)</small></th>
									<th class="col-sm-6 text-center">Youtube Video Embed Code</th>
									<th class="col-sm-1"></th>
								</tr>
							</thead>
							<tbody>
								{% for key, media in form.media %}
								<tr>
									{{ macro.media(media, key) }}
								</tr>
								{% endfor %}
							</tbody>
						</table>
						
						<btn class="btn btn-outline add-btn">{{ FAIcon('plus', 'btn-label') }} Add Media</btn>
	        		</div>
				</div>
			</div>
			
			<br/>
			
			<div class="row">
				<div class="col-sm-12">
					<div class="form-actions">
						{{ form_widget(form.save) }}
						<a href="{{ path('album') }}" class="btn btn-default">Back</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{{ form_widget(form._token) }}
</form>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/album.js') }}"></script>
<script src="{{ asset('assets/js/file.js') }}"></script>
<script>
$(document).ready(function(){
	$( ".input-group.date" ).datepicker({
		changeMonth: true,
		changeYear: true,
		autoclose: true,
		todayHighlight: true
	});
});
</script>
{% endblock %}