{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li><a href="{{ path('album') }}">Albums</a></li>
<li class="active">View</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="page-header">
	<div class="row">
		<div class="col-sm-7">
			<h1>{{ FAIcon('picture-o', 'page-header-icon') }} {{ entity.name }}</h1>
		</div>
		
		<div class="col-sm-5">
			<div class="pull-right btn-toolbar">
				<div class="btn-group btn-group-md">
					<a href="{{ path('album_edit', { 'id': entity.id }) }}" class="btn btn-default">{{ FAIcon('pencil') }} Edit</a>

					<div class="btn-group">
						<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">More {{ FAIcon('caret-down') }}</a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('album_confirm_delete', { 'id': entity.id }) }}">{{ FAIcon('trash-o') }} Delete</a></li>
						</ul>
					</div>
				</div>
				
				<div class="btn-group btn-group-md">
					<a class="btn btn-default" href="{{ path('album') }}">{{ FAIcon('th-large') }} List All</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-md-5 col-xs-12">
				<table class="table table-no-border table-cascade profile">
					<tr>
						<th class="col-xs-4">Album Cover</th>
						<td><img src="{{ asset(entity.webPath) | imagine_filter('image_thumbnail') }}" /></td>
					</tr>
					<tr>
						<th>Name</th>
						<td>{{ entity.name }}</td>
					</tr>
					<tr>
						<th>Event Date</th>
						<td>{{ utils.formatDate(entity.eventDate) }}</td>
					</tr>
				</table>
			</div>
			
			<div class="col-md-6 col-xs-12">
				<table class="table table-no-border table-cascade profile">
					<tr>
						<th class="col-xs-4">Description</th>
						<td>{{ entity.description|nl2br }}</td>
					</tr>
				</table>
			</div>
		</div>
		
		<br/>
		
		<div class="row">
			<div class="col-md-12"> 
				<div class="table-responsive">
					<table class="table table-light">
						<thead>
							<tr>
								<th class="col-sm-4 text-center">Image</th>
								<th class="col-sm-8 text-center">Youtube Video Embed Code</th>
							</tr>
						</thead>
						<tbody>
							{% for media in entity.media %}
								<tr>
									<td>
										<div class="text-center">
											<img src="{{ asset(media.webPath) | imagine_filter('image_thumbnail') }}" />
										</div>
									</td>
									<td>
										<div class="text-center video-content">
											{{ media.youtubeVideoEmbedCode|raw }}
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		{% include 'CIBandkadaBundle:Misc:entityDateDetails.html.twig' with {'entity': entity } %}
	</div>
</div>
{% endblock content %}