{% extends "CICoreBundle::layout.html.twig" %}

{% block breadcrumbs %}
<li>Admin</li>
<li><a href="{{ path('user') }}">Users</a></li>
<li class="active">Add New User</li>
{% endblock %}

{% block fos_user_content %}
	{% include "CICoreBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}

{% block javascripts %}
<script>
$(document).ready(function(){
	$( ".input-group.date" ).datepicker({
		changeMonth: true,
		changeYear: true,
		autoclose: true, 
		todayHighlight: true,
	});
});  
</script>
{% endblock %}