{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIBandkadaBundle:Finalist:macro.html.twig' as macro %}

{% block breadcrumbs %}
<li><a href="{{ path('finalist') }}">Finalists</a></li>
<li><a href="{{ path('finalist_show', { 'id' : entity.id }) }}">{{ entity.name }}</a></li>
<li class="active">Edit</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('microphone', 'page-header-icon') }} {{ entity.name }}</h1>
</div>

{% if form_errors(edit_form) is not empty %}
	{{ form_errors(edit_form) }}<br/>
{% endif %}

{{ form_start(edit_form, {'action': path('finalist_update', { 'id' : entity.id }), 'method': 'PUT', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate' } }) }}
	<div class="row">
		{{ bootstrap_set_style('horizontal') }}
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-6">
					{{ form_row(edit_form.name) }}
					{{ form_row(edit_form.shortWriteUp) }}
					{{ macro.imageThumbnail(edit_form, entity.webPath('teaser'), 'teaser') }}
					{{ form_row(edit_form.writeUp) }}
					{{ macro.imageThumbnail(edit_form, entity.webPath('image'), 'image') }}
					{{ form_row(edit_form.youtubeVideoEmbedCode) }}
				</div>
			</div>
			
			<br/>
			
			<div class="row">
				<div class="col-sm-12">
					<div class="form-actions">
						{{ form_widget(edit_form.save) }}
						<a href="{{ path('finalist_show', { 'id' : entity.id }) }}" class="btn btn-default">Back</a>
					</div>
				</div>
			</div>
	    </div>
    </div>
    {{ form_widget(edit_form._token) }}
</form>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/file.js') }}"></script>
<script>
$(document).ready(function(){
	$( ".input-group.date" ).datepicker({
		changeMonth: true,
		changeYear: true,
		autoclose: true,
		todayHighlight: true
	});
});
</script>
{% endblock %}