{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIBandkadaBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Finalists</li>
<li class="active">List</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>{{ FAIcon('microphone', 'page-header-icon') }} Finalists</h1>
			<div class="pull-right">
				<a class="btn btn-default btn-labeled btn-sm" href="{{ path('finalist_new') }}">{{ FAIcon('plus', 'btn-label') }} Add New</a>
				<a class="btn btn-default btn-labeled btn-sm" href="{{ path('finalist') }}">{{ FAIcon('th-large', 'btn-label') }} List All</a> 
			</div>
		</div>
		
		<!-- search form -->
		<div class="row search-filters">
			{{ form_start(search_form, {'action': path('finalist'), 'method': 'GET', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate' } }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-5">
					{{ form_row(search_form.name) }}
					{{ form_row(search_form.search) }}
				</div>
				<div class="col-md-5">
					{{ form_row(search_form.dateFrom) }}
					{{ form_row(search_form.dateTo) }}
				</div>
			{{ form_end(search_form) }}
		</div>
		<!-- end of search form -->
		
		{% if pagination.getPaginationData['totalCount'] > 0 %}
			<div id="display-count" class="pull-right">
				{{ macros.paginationCount(pagination) }}
			</div>
			
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-md-1">Actions</th>
							<th class="col-md-2">Teaser Image</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'f.name', 'Name') }}</th>
							<th class="col-md-7">Short Write-up</th>
						</tr>
					</thead>
					<tbody>
						{% for entity in pagination %}
						<tr>
							<td class="actions">
								<div class="btn-group btn-group-sm">
									<button  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ FAListIcon('cog') }}</button>
									<ul class="dropdown-menu">
										<li><a href="{{ path('finalist_show', {'id':entity.id}) }}">{{ FAListIcon('search-plus') }} View</a></li>
										<li><a href="{{ path('finalist_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
										<li class="divider"></li>
										<li><a href="{{ path('finalist_confirm_delete', { 'id': entity.id }) }}">{{ FAListIcon('trash-o') }} Delete</a></li>
									</ul>
								</div>
							</td>
							<td><img src="{{ asset(entity.webPath('teaser')) | imagine_filter('image_list_thumbnail') }}" /></td>
							<td><a href="{{ path('finalist_show', { 'id' : entity.id }) }}">{{ entity.name }}</a></td>
							<td>{{ entity.shortWriteUp|nl2br }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pull-right">
				{{ knp_pagination_render(pagination) }}
			</div>	
		{% else %}
			<div class="alert">
				No results found.
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
$(document).ready(function(){
	$( ".input-group.date" ).datepicker({
		changeMonth: true,
		changeYear: true,
		autoclose: true,
		todayHighlight: true
	});
});
</script>
{% endblock %}