{% macro imageThumbnail(form, image, inputPrefix) %}
<div class="image-container">
	{% set imageClass = '' %}
	{% set imageExtensions = ['jpeg', 'jpg', 'png'] %}
	{% set ext = image|split('.') %}
	
	{% if image and not form[inputPrefix ~ 'ChangeImage'].vars.value %}
	{% set imageClass = 'hide' %}
	<div class="image-thumbnail">
		<div class="form-group row">
			{{ form_label(form[inputPrefix ~ 'File']) }}
			
			<div class="col-lg-8">
				{% if (ext|last)|lower in imageExtensions %}
					<a href="{{ asset(image) }}" target="_blank">
				    	<img class="img-thumbnail" src="{{ asset(image)|imagine_filter('image_thumbnail') }}" />
				    </a>
				{% endif %}
			    <a class="btn btn-danger btn-xs change-image-btn">{{ FAIcon("times") }} Remove</a>
		    </div>
		</div>
	</div>
    {% endif %}
    
    {{ form_widget(form[inputPrefix ~ 'ChangeImage']) }}
    
	<div class="file-input-container {{ imageClass }}">
		{{ form_row(form[inputPrefix ~ 'File']) }}
   	</div>
</div>
{% endmacro %}
