{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIBandkadaBundle:Finalist:macro.html.twig' as macro %}

{% block breadcrumbs %}
<li><a href="{{ path('finalist') }}">Finalists</a></li>
<li class="active">New</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('microphone', 'page-header-icon') }} New Finalist</h1>
</div>

{% if form_errors(form) is not empty %}
	{{ form_errors(form) }}<br/>
{% endif %}

{{ form_start(form, {'action': path('finalist_create'), 'method': 'POST', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate' } }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-6">
					{{ form_row(form.name) }}
					{{ form_row(form.shortWriteUp) }}
					{{ macro.imageThumbnail(form, null, 'teaser') }}
					{{ form_row(form.writeUp) }}
					{{ macro.imageThumbnail(form, null, 'image') }}
					{{ form_row(form.youtubeVideoEmbedCode) }}
				</div>
			</div>
			
			<br/>
			
			<div class="row">
				<div class="col-sm-12">
					<div class="form-actions">
						{{ form_widget(form.save) }}
						<a href="{{ path('finalist') }}" class="btn btn-default">Back</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{{ form_widget(form._token) }}
</form>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/file.js') }}"></script>
{% endblock %}