{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li><a href="{{ path('finalist') }}">Finalists</a></li>
<li class="active">View</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="page-header">
	<div class="row">
		<div class="col-sm-7">
			<h1>{{ FAIcon('microphone', 'page-header-icon') }} {{ entity.name }}</h1>
		</div>
		
		<div class="col-sm-5">
			<div class="pull-right btn-toolbar">
				<div class="btn-group btn-group-md">
					<a href="{{ path('finalist_edit', { 'id': entity.id }) }}" class="btn btn-default">{{ FAIcon('pencil') }} Edit</a>

					<div class="btn-group">
						<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">More {{ FAIcon('caret-down') }}</a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('finalist_confirm_delete', { 'id': entity.id }) }}">{{ FAIcon('trash-o') }} Delete</a></li>
						</ul>
					</div>
				</div>
				
				<div class="btn-group btn-group-md">
					<a class="btn btn-default" href="{{ path('finalist') }}">{{ FAIcon('th-large') }} List All</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-md-8 col-xs-12">
				<table class="table table-no-border table-cascade profile">
					<tr>
						<th class="col-xs-5">Name</th>
						<td>{{ entity.name }}</td>
					</tr>
					<tr>
						<th>Short Write-up</th>
						<td>{{ entity.shortWriteUp|nl2br }}</td>
					</tr>
					<tr>
						<th>Teaser Image</th>
						<td><img src="{{ asset(entity.webPath('teaser')) | imagine_filter('image_thumbnail') }}" /></td>
					</tr>
					<tr>
						<th>Write-up</th>
						<td>{{ entity.writeUp|nl2br }}</td>
					</tr>
					<tr>
						<th> Image</th>
						<td><img src="{{ asset(entity.webPath('image')) | imagine_filter('image_thumbnail') }}" /></td>
					</tr>
					<tr>
						<th>Youtube Video Embed Code</th>
						<td>{{ entity.youtubeVideoEmbedCode|raw }}</td>
					</tr>
				</table>
			</div>
		</div>
		
		{% include 'CIBandkadaBundle:Misc:entityDateDetails.html.twig' with {'entity': entity } %}
	</div>
</div>
{% endblock content %}