{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li><a href="{{ path((view_route ? view_route : route_prefix) ~ '_show', { 'id' : view_id ? view_id : return_id }) }}">{{ name }} ID #{{ return_id }}</a></li>
<li class="active">Versions of {{ name }} ID #{{ return_id }}</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>Versions of {{ name }} <small class="muted">ID #{{ return_id }}</small></h1>
</div>
	
<div class="row">
	<div class="col-md-12">
		<div id="display-count" class="pull-right">
    	   	{{ macros.paginationCount(pagination) }}
    	</div>  
	</div>
</div>

<div class="row">
	<div class="col-md-12">    
	{% if pagination.getPaginationData['totalCount'] > 0 %}
    	<div class="table-responsive">
    		<table class="table table-condensed">
    			<thead>
    				<tr>
    					<th>Change Logs</th>
    				</tr>
    			</thead>
    			<tbody>
    			{% for key, revision in pagination %}
    			{% set oldRev, params = '', { 'id' : revision.rev, 'parentId' : return_id } %}
    			{% if not loop.last %}
    				{% set oldRev = pagination.items[loop.index].rev %}
    				{% set params = params|merge({ 'old' : oldRev }) %}
    			{% endif %}
    			<tr>
    				<td>
    					<a href="{{ path(route_prefix ~ '_log', params) }}">{{ revision.timestamp|date('F d, Y \\a\\t g:i:s A') }} by {{ revision.username }}</a>
    				</td>
    			</tr>
    			{% endfor %}
    			</tbody>
    		</table>
    		{{ knp_pagination_render(pagination) }}
    	</div>
	{% else %}
		<div class="alert">
			No log found.
		</div>
	{% endif %}
	</div>
</div>
{% endblock %}