<div class="page-header">
    <div class="row">
        <div class="col-sm-7">
            <h1>{{ FAIcon('user') }} User {{ user.name }}</h1>
        </div>
        
        <div class="col-sm-5">
            <div class="pull-right">
           	 	{% if is_granted('ROLE_ADMIN') %}
                    <div class="btn-group">
                    	 <a href="{{ path('user_edit', { 'id' : user.id }) }}" class="btn btn-default">{{ FAIcon('pencil') }} Edit</a>
            			<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">More <i class="fa fa-caret-down"></i></a>
            			<ul class="dropdown-menu">
            			    <li><a href="{{ path('user_login_history', { 'id': user.id }) }}">{{ FAIcon('clock-o') }} Login History</a></li>
                			<li class="divider"></li>
                			{% if user.enabled %}
								<li><a href="{{ path('user_manage_access', { 'id': user.id, 'access' : 'deactivate' }) }}">{{ icon('remove') }} Deactivate</a></li>
							{% else %}
								<li><a href="{{ path('user_manage_access', { 'id': user.id, 'access' : 'reactivate' }) }}">{{ FAIcon('check') }} Reactivate</a></li>
							{% endif %}
            			</ul>
            		</div>
	                 &nbsp;&nbsp;
	            {% endif %}
                <a class="btn" href="{{ path('user') }}" title="Back to User list">
                {{ FAIcon('chevron-right') }}
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="row">
   			<div class="col-md-5 col-xs-12">
   			    <table class="table table-no-border profile">
   			    	<tr>
				 		<th class="col-xs-4">{{ 'profile.show.firstname'|trans({}, 'FOSUserBundle') }}</th>
				 		<td>{{ user.firstname }}</td>
				 	</tr>
				 	<tr>
				 		<th>{{ 'profile.show.lastname'|trans({}, 'FOSUserBundle') }}</th>
				 		<td>{{ user.lastname }}</td>
				 	</tr>
				 	<tr>
				 		<th>{{ 'profile.show.gender'|trans({}, 'FOSUserBundle') }}</th>
				 		<td>{{ user.gender }}</td>
				    </tr>
				 	<tr>
				    	<th>{{ 'profile.show.birthdate'|trans({}, 'FOSUserBundle') }}</th>
				    	<td>{{ user.birthdate|date('M. d, Y') }}</td>
				    </tr>
				 	<tr>
				    	<th>{{ 'profile.show.contactnumber'|trans({}, 'FOSUserBundle') }}</th>
				    	<td>{{ user.contactnumber }}</td>
				    </tr>    
   			    </table>
   			</div>
   			<div class="col-md-6 col-xs-12">
   			    <table class="table table-no-border profile">
   			    	<tr>
				    	<th class="col-xs-4">{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}</th>
				    	<td>{{ user.email }}</td>
				    </tr>
				 	<tr>
				 		<th>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}</th>
				 		<td>{{ user.username }}</td>
				 	</tr>
				 	<tr> 	
				 		<th>{{ 'profile.show.roles'|trans({}, 'FOSUserBundle') }}</th>
				 		<td>
					 		{% set roles = '' %}
					 		<ul>
					 		{% for role in user.roles if role != "ROLE_USER" %}
					 			<li>{{ role[5:]|replace({'_': ' '})|title }}</li>
					 		{% endfor %}
					 		</ul>
				 		</td>
				 	</tr>
   			    </table>
   			</div>
   		</div>
		
        {% include 'CICoreBundle:Misc:entityDateDetails.html.twig' with {'entity': user } %}
	</div>
</div>