{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li><a href="{{ path('band') }}">Bands</a></li>
<li><a href="{{ path('band_show', { 'id' : entity.id }) }}">Current Band</a></li>
<li class="active">Edit</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<small>Band ID #{{ entity.id }}</small><br/>
	<h1>{{ FAIcon('music', 'page-header-icon') }} {{ entity.bandName }}</h1>
</div>

{{ form_start(edit_form, {'action': path('band_update', { 'id' : entity.id }), 'method': 'PUT', 'attr' : { 'class' : 'form-horizontal', 'novalidate' : 'novalidate' } }) }}
	{{ bootstrap_set_style('horizontal') }}
	<h4><strong>Representative</strong></h4><hr>
	<div class="row">
		<div class="col-md-5">
			{{ form_row(edit_form.repName) }}
			{{ form_row(edit_form.mobileNumber) }}
			{{ form_row(edit_form.repInstrument) }}
		</div>
		<div class="col-md-5">
			{{ form_row(edit_form.repBirthday) }}
			{{ form_row(edit_form.email) }}
		</div>
	</div>
	<br>
	<h4><strong>Band Info</strong></h4><hr>
	<div class="row">
		<div class="col-md-5">
			{{ form_row(edit_form.bandName) }}
			{{ form_row(edit_form.bandYoutubeUrl) }}
			{{ form_row(edit_form.bandVideoLink) }}
		</div>
		<div class="col-md-5">
			{{ form_row(edit_form.genre) }}
			{{ form_row(edit_form.school) }}
		</div>
	</div>
	
	<br>
	<h4><strong>Members</strong></h4>
	<div class="row">
		<div class="col-sm-12">
			<table class="table">
				<tbody>
				{% for member in edit_form.members %}
					<tr>
						<td class="col-md-4">{{ form_row(member.name) }}</td>
						<td class="col-md-4">{{ form_row(member.instrument) }}</td>
						<td class="col-md-4">{{ form_row(member.birthday) }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	
	<br>
	<h4><strong>Video</strong></h4><hr>
	<div class="row">
		<div class="col-md-5">
			{{ form_row(edit_form.file) }}
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			{{ form_widget(edit_form.save) }}
			<a href="{{ path('band_show', { 'id': entity.id }) }}" class="btn btn-default btn-outline">Back</a>
		</div>
	</div>
{{ form_end(edit_form) }}
{% endblock content %}

{% block javascripts %}
<script>
$(document).ready(function(){
	$( ".input-group.date" ).datepicker({
		changeMonth: true,
		changeYear: true,
		autoclose: true,
		todayHighlight: true
	});

	init.push(function () {
		$( ".custom-upload" ).pixelFileInput({ placeholder: "No file selected..." });
	});
});
</script>
{% endblock %}