{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIBandkadaBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Bands</li>
<li class="active">List</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>{{ FAIcon('music', 'page-header-icon') }} Bands</h1>
			<div class="pull-right">
				<a class="btn btn-default btn-labeled btn-sm" href="{{ path('band_list_export_xls') }}">{{ FAIcon('file-excel-o', 'btn-label') }} Export All to XLS</a>
				<a class="btn btn-default btn-labeled btn-sm" href="{{ path('band') }}">{{ FAIcon('th-large', 'btn-label') }} List All</a> 
			</div>
		</div>
		
		<!-- search form -->
		<div class="row search-filters">
			{{ form_start(search_form, {'action': path('band'), 'method': 'GET', 'attr': {'class': 'form-horizontal'} }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-5">
					{{ form_row(search_form.band) }}
					{{ form_row(search_form.repName) }}
					{{ form_row(search_form.genre) }}
					{{ form_row(search_form.search) }}
				</div>
				<div class="col-md-5">
					{{ form_row(search_form.email, { 'widget_col' : 6 } ) }}
					{{ form_row(search_form.dateFrom) }}
					{{ form_row(search_form.dateTo) }}
				</div>
			{{ form_end(search_form) }}
		</div>
		<!-- end of search form -->
		
		{% if pagination.getPaginationData['totalCount'] > 0 %}
			<div id="display-count" class="pull-right">
				{{ macros.paginationCount(pagination) }}
			</div>
			
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-md-1">Actions</th>
							<th class="col-md-3">{{ utils.sortableTableHeader(pagination, 'b.bandName', 'Band Name') }}</th>
							<th class="col-md-3">{{ utils.sortableTableHeader(pagination, 'b.repname', 'Representative Name') }}</th>
							<th class="col-md-2">Genres</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'b.createdAt', 'Registration Date') }}</th>
						</tr>
					</thead>
					<tbody>
						{% for entity in pagination %}
						<tr>
							<td class="actions">
								<div class="btn-group btn-group-sm">
									<button  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ FAListIcon('cog') }}</button>
									<ul class="dropdown-menu">
										<li><a href="{{ path('band_show', {'id':entity.id}) }}">{{ FAListIcon('search-plus') }} View</a></li>
										<li><a href="{{ path('band_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
{# 										{{ macros.changeStatus('band_confirm_change_status', entity) }}#}
									</ul>
								</div>
							</td>
							<td><a href="{{ path('band_show', { 'id' : entity.id }) }}">{{ entity.bandName }}</a></td>
							<td>{{ entity.repName }}</td>
							<td>
							{% for genre in entity.genre %}
								{{ genre }}{% if not loop.last %}, {% endif %}
							{% endfor %}
							</td>
							<td>{{ utils.formatDate(entity.createdAt) }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pull-right">
				{{ knp_pagination_render(pagination) }}
			</div>	
		{% else %}
			<div class="alert">
				No results found.
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
$(document).ready(function(){
	$( ".input-group.date" ).datepicker({
		changeMonth: true,
		changeYear: true,
		autoclose: true,
		todayHighlight: true
	});
});
</script>
{% endblock %}