{% extends 'CICoreBundle::layout.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('assets/css/video-js.min.css') }}" rel="stylesheet">
<style type="text/css">
  .vjs-default-skin .vjs-play-progress,
  .vjs-default-skin .vjs-volume-level { background-color: #ffffff }
</style>
{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ path('band') }}">Bands</a></li>
<li><a href="{{ path('band_show', { 'id' : entity.id }) }}">Current Band</a></li>
<li class="active">View</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="page-header">
    <div class="row">
        <div class="col-sm-6">
            <h1>{{ FAIcon('music', 'page-header-icon') }} Band #{{ entity.id }}</h1>
        </div>
        
        <div class="col-sm-6">
            <div class="pull-right btn-toolbar">
            	<div class="btn-group btn-group-md">
                    <a href="{{ path('band_edit', { 'id': entity.id }) }}" class="btn btn-default">{{ FAIcon('pencil') }} Edit</a>
                    {% if entity.webPath is not empty %}
                    	<a href="{{ path('band_video_download', { 'id': entity.id }) }}" class="btn btn-default">{{ FAIcon('cloud-download') }} Download Video</a>
                    {% else %}
                    	<a href="#" class="btn btn-default disabled">{{ FAIcon('cloud-download') }} Download Video</a>
                    {% endif %}
{#                     <div class="btn-group">#}
{#             			<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">More <i class="fa fa-caret-down"></i></a>#}
{#             			<ul class="dropdown-menu">#}
{#             			    <li><a href="{{ path('band_revision', { 'id': entity.id }) }}">{{ FAIcon('info-circle') }} View Logs</a></li>#}
{#             			</ul>#}
{#             		</div>#}
                </div>
                
               <div class="btn-group btn-group-md">
                    <a class="btn btn-default" href="{{ path('band') }}">{{ FAIcon('th-large') }} List All</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
	<div class="col-md-12">
		<h4><strong>Representative</strong></h4><hr>
		<div class="row">
			<div class="col-md-5 col-xs-12">
				<table class="table table-no-border profile">
					<tr>
						<th class="col-xs-4">Name</th>
						<td>{{ entity.repName }}</td>
					</tr>
					<tr>
						<th>Mobile Number</th>
						<td>{{ entity.mobileNumber }}</td>
					</tr>
					<tr>
						<th>Instrument</th>
						<td>{{ entity.repInstrument }}</td>
					</tr>
				</table>
			</div>
			<div class="col-md-5 col-xs-12">
				<table class="table table-no-border profile">
					<tr>
						<th class="col-xs-4">Birthday</th>
						<td>{{ utils.formatDate(entity.repBirthday) }}</td>
					</tr>
					<tr>
						<th>Email</th>
						<td>{{ entity.email }}</td>
					</tr>
				</table>
			</div>
		</div>
		
		<br>
		
		<h4><strong>Band Info</strong></h4><hr>
		<div class="row">
			<div class="col-md-5 col-xs-12">
				<table class="table table-no-border profile">
					<tr>
						<th class="col-xs-4">Band Name</th>
						<td>{{ entity.bandName }}</td>
					</tr>
					<tr>
						<th>Youtube Channel</th>
						<td><a href="{{ entity.bandYoutubeUrl }}" target="_blank">{{ entity.bandYoutubeUrl }}</a></td>
					</tr>
					<tr>
						<th>Video Link</th>
						<td>{{ entity.bandVideoLink }}</td>
					</tr>
				</table>
			</div>
			<div class="col-md-5 col-xs-12">
				<table class="table table-no-border profile">
					<tr>
						<th class="col-xs-4">Genres</th>
						<td>
						{% for genre in entity.genre %}
							{{ genre }}{% if not loop.last %}, {% endif %}
						{% endfor %}
						</td>
					</tr>
					<tr>
						<th>School</th>
						<td>{{ entity.school }}</td>
					</tr>
				</table>
			</div>
		</div>
		
		<br>
		
		<h4><strong>Members</strong></h4>
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-light">
						<tbody>
						{% for member in entity.members %}
							<tr>
								<td class="col-md-4"><span class="text-muted">Name: </span>{{ member.name }}</td>
								<td class="col-md-4"><span class="text-muted">Instrument: </span>{{ member.instrument }}</td>
								<td class="col-md-4"><span class="text-muted">Birthday: </span>{{ utils.formatDate(member.birthday) }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<br>
		
		<h4><strong>Video</strong></h4>
		{% if entity.webPath is not empty %}
		<video id="band_video" class="video-js vjs-default-skin vjs-big-play-centered" controls width="640" height="480" data-setup='{"preload":"auto"}'>
			<source src="{{ asset(entity.webPath) }}" type='video/mp4' />
			<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
		</video>
		{% else %}
		<div class="alert">
			There is no video uploaded for this band.
		</div>
		{% endif %}
		
		{% include 'CIBandkadaBundle:Misc:entityDateDetails.html.twig' with {'entity': entity } %}
	</div>
</div>
{% endblock content %}

{% block javascripts %}
<script src="{{ asset('assets/js/video.js') }}"></script>
<script type="text/javascript">
	videojs.options.flash.swf = "{{ asset('assets/fonts/video-js.swf') }}";
</script>
{% endblock %}