<div class="lbl-title">{{ album.name|upper }}</div>
<div class="lbl-desc">{{ album.description|nl2br }}</div>
<a class="btn-backtoalbum" href="javascript:void(0);"></a>

{% set mediaPages = album.paginatedMedia(8) %}
<div class="album" data-title="{{ album.name }}" data-share-uri="?albumId={{ album.id }}">
	{% for page in mediaPages %}
	<ul class="imglist{% if not loop.first %} hide{% endif %}">
		<!-- item template -->
		{% for media in page %}
		<li class="item-img spl-square" data-title="{{ album.name }}" data-share-uri="?albumId={{ album.id }}&mediaId={{ media.id }}" data-media-id="{{ media.id }}" data-media-webpath="{{ asset(media.webPath) }}" data-media-yt="{{ media.youtubeVideoEmbedCode|default("") }}">
			<a href="#">
				<img src="{{ asset(media.webPath)|imagine_filter('gw_default') }}">
			</a>
		</li>
		{% endfor %}
		
		<div class="clearfix"></div>
	</ul>
	{% endfor %}
</div>

<a href="#" class="btn-ifb" data-share-uri=""></a>
<a class="btn-itw" target="_blank" href="https://twitter.com/share" data-share-uri="" data-title=""></a>

<div class="inner-pagination">
	<a href="#" class="btn-page-left hide"></a>
	<a href="#" class="btn-page-right{% if mediaPages|length == 1 %} hide{% endif %}"></a>
</div>