<div id="finalist">
  <div class="bottomdes"></div>

  <div class="banner-finalist">
    <img src="{{ asset('assets/img/finalist-banner.png') }}">
  </div>

  <div class="finalist-wrapper">
  
    <div class="content">

      <ul class="list-wrapper2">
      	{% set count = 0 %}
      	{% for finalist in finalists if count < 8 %}
      		 <li class="item">
      		 	<img src="{{ asset(finalist.webPath('teaser')) | imagine_filter('gw_teaser') }}" />
	          <div class="desc">
	            <div class="inner-cont">
	              <span class="lbl-title">{{ finalist.name|upper }}</span>
	              <p class="info">{{ finalist.shortWriteUp }}</p>
	              <a data-id="{{ finalist.id }}" class="btn-view-profile" href="#"></a>
	            </div>
	          </div>
	        </li> 
	        {% set count = count + 1 %}
      	{% endfor %}
      
        <div class="clearfix"></div>
      </ul>

    </div>
    



    <!-- INNER PAGE -->
    <div class="finalist-inner">
    	<img src="{{ asset('assets/img/mpreloader.gif') }}" class="spinner">
		<div class="inner-portfolio-wrapper"> 
			
		</div>
    </div>

  <!-- finalist-wrapper -->
  </div>
<!-- finalist -->
</div>