<div class="album-img" style="background-image: url({{ asset(finalist.webPath('image')) | imagine_filter('gw_finalist_image') }});"></div> 

<a href="#" class="btn-backto-lists"></a>

<div class="side-desc">
	<span class="lbl-group-name">{{ finalist.name|upper }}</span>
	<div class="description">{{ finalist.writeUp|nl2br }}</div>
</div>
	
	<div class="clearfix"></div>

	<div class="clipvideo">
    	{{ finalist.youtubeVideoEmbedCode|raw }}
</div>

<div class="clearfix"></div>