<div class="select-wrap">
	<select>
		<option value="1"{% if order is not defined or order is empty or order == 1 %} selected="selected"{% endif %}>SORT BY NEWEST TO OLDEST</option>
		<option value="2"{% if order is defined and order == 2 %} selected="selected"{% endif %}>SORT BY OLDEST TO NEWEST</option>
	</select>
</div>

<div class="lbl-album">ALBUM LIST</div>
<ul class="list-wrapper">
	<!-- item template -->
	{% for album in pagination %}
	<li class="item">
		<a href="#" data-album-id="{{ album.id }}">
			<div class="dateholder">{{ album.eventDate|date('F d, Y') }}</div>
			<img src="{{ asset(album.webPath)|imagine_filter('gw_default') }}">
			<div class="desc">
				<div class="inner-cont">
					<p>{{ album.name }}</p>
				</div>
			</div>
		</a>
	</li>
	{% endfor %}
	
	<div class="clearfix"></div>
</ul>

<div class="pagination-wrap gallery-paginator">
	{{ knp_pagination_render(pagination, 'CIBandkadaBundle:Default:sliding.html.twig') }}
</div>