<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- additional meta properties for fb sharing -->
	{% set shareUri = url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
	{% set title, url, description, imageUrl = '', '', '', '' %}
	
	{% if shared.album is defined %}
		{% set album = shared.album %}
		{% set title = album.name %}
		{% set description = album.description %}
		{% set url = (shareUri ~ '?albumId=' ~ album.id)  %}
		
		{% if shared.media is defined %}
			{% set media = shared.media %}
			{% set imageUrl = (shareUri ~ media.webPath)  %}
			{% set url = (url ~ '&mediaId=' ~ media.id) %}
		{% else %}
			{% set imageUrl = (shareUri ~ album.webPath)  %}
		{% endif %}
	{% endif %}
	
    <meta property="og:url" content="{{ url }}"> 
    <meta property="og:title" content="{{ title }}"> 
    <meta property="og:description" content="{{ description }}"> 
    <meta property="og:site_name" content="#UltimateBandkada"> 
    <meta property="og:image" content="{{ imageUrl }}"> 
        
	<title>The #UltimateBandkada Search</title>
	
	<!-- 
	<link href="/assets/vendors/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/assets/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	-->
	
	<!--lytebox-->
	<link rel="stylesheet" href="{{ asset('assets/vendors/lytebox/css/lytebox.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/vendors/font/fontLib.css') }}">
	
	<link rel="stylesheet" href="{{ asset('assets/css/main.min.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/lib/datepicker/datepicker3.css') }}">
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	
	<link rel="icon" href="{{ asset('gwlogo.ico') }}" type="image/x-icon" />
	
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-42684485-23', 'auto');
	ga('send', 'pageview');

	</script>
</head>

<body>

<div class="overlay-preloader">
  <div class="loader-wrap">
    <img src="assets/img/mpreloader.gif">
  </div>
</div>

<!--[if lt IE 10]>
	<p class="browsehappy">
		You are using an <strong>outdated</strong> browser. Please
		<a href="http://browsehappy.com/">upgrade your browser</a> to improve
		your experience.
	</p>
<![endif]-->

	<div class="header">
		<div class="container">
		
			<span class="f-us">FOLLOW US</span>
		
			<ul class="socialNav">
				<li><a target="_blank" href="https://www.facebook.com/GreenwichPizza" class="btn icon-fb spcTop"></a></li>
				<li><a target="_blank" href="https://twitter.com/greenwichpizza/" class="btn icon-tw spcTop" ></a></li>
				<li><a target="_blank" href="https://instagram.com/greenwichpizza/" class="btn icon-ins spcTop"></a></li>
				<li class="acc"><span>/GREENWICHPIZZA</span></li>
			</ul>
			
			<ul class="mainNav"> <!-- active -->
				<li><a href="#splash" class="active">HOME</a></li>
				<li><a href="#mechanics">MECHANICS</a></li>
				<li><a href="#gallery">GALLERY</a></li>
				{% if finalists|length > 0 %}
					<li><a href="#finalist">FINALIST</a></li>
				{% endif %}
				<div class="clearfix"></div>
			</ul>
			
			<div class="burger">
				<span class="bar"></span>
			</div>
			
			<div class="clearfix"></div>
			
		</div>
	</div>

	<!-- slimscroll section addendum -->
	<section id="splash">
		<div class="container">
			<div class="leftCont">
				<img src="{{ asset('assets/img/hashBandkada.png') }}">
				<br/>
				<img class="partners" src="{{ asset('assets/img/partnerLogo.png') }}">
			</div>
			
			<div class="rightCont">
			<!-- <img src="/assets/img/ytsample.jpg"> -->
			<!-- <iframe width="560" height="349" src="//www.youtube.com/embed/itw2kPUFXKE?wmode=opaque&amp;feature=player_detailpage" frameborder="0" allowfullscreen></iframe>-->
			</div>
	
			<div class="clearfix"></div>
			
			<div class="desc-wrap">
				<div class="topDescription">
					<h1 class="whiteRed" title="Find out who our">Find out who our</h1>
					<h1 class="whiteRed" title="8 #UltimateBandkada finalists are!">8 #UltimateBandkada finalists are!</h1>
					<h1 class="redWhite" title="April 23, 2015">April 23, 2015</h1>
					<div class="clearfix"></div>
				</div>
				
				<div class="clearfix"></div>
			</div>
			
			<a href="#gallery" class="btn-view-gallery">VIEW OUR #ULTIMATEBANDKADA GALLERY HERE</a>
			
			<div class="clearfix"></div>
		</div>
		
		<a href="#mechanics" class="btn explore"></a>
		
		<div class="clearfix"></div>
	</section>

<div id="mechanics">
	<div class="container omit">
		<h1 class="title">TWO WAYS TO JOIN</h1>
		<div class="firstStepCont special">
			<ul class="steps">
				<li class="s-header">
					<span class="orientHead">ONLINE</span>
				</li>
				<li>
                <div class="innerCont">
                  <!-- <span class="circle">1</span> -->
                  
                  <div class="img"><img src="{{ asset('assets/img/step1-illust.png') }}"></div>
                  <div class="desc">RECORD</div>
                  <div class="clearfix"></div>
                  
                  <p>Choose a song and take a video of your band mashing up at least 2 musical genres. Choose among Rock, Pop, Hip-Hop, and EDM. Having a hard time? Take a look at our video above!</p>
                  <div class="clearfix"></div>
                </div>
              </li>
              
              <li>
                <div class="innerCont">
                  <!-- <span class="circle">2</span> -->
                  
                  <div class="img"><img src="{{ asset('assets/img/step2-illust.png') }}"></div>
                  <div class="desc">UPLOAD</div>
                  <div class="clearfix"></div>
                  
                  <p class="word-break">Upload your video on the site (www.ultimatebandkada.com) or send an email with a link to your video online to greenwichpizzabarkada@gmail.com</p>
                  <div class="clearfix"></div>
                </div>
              </li>
              
              <li>
                <div class="innerCont">
                  <!-- <span class="circle">3</span> -->
                  
                  <div class="img p25"><img src="{{ asset('assets/img/step3-illust.png') }}"></div>
                  <div class="desc p75">REGISTER</div>
                  <div class="clearfix"></div>
                  
                  <p>Make your entry official by completing this <a class="regStatus" href="#registration">form</a> between March 11 and 21. A notification will be sent via email upon successful registration.</p>
                  <div class="clearfix"></div>
                </div>
              </li>
            
            <div class="clearfix"></div>
            </ul>

        </div>

        <div class="orCont">
          <span class="or_c">
            OR
          </span>
        </div>

        <div class="firstStepCont special">
          <div class="joinLive">

              <div class="s-header"> <span class="orientHead">LIVE</span> </div>

              <div class="content">
                Join one of the live auditions from March 16 - 21, 2015
              </div>
              <span class="seefull">See Full Mechanics below.</span>

              <div class="clearfix"></div>
          </div>
        </div>

   <!--  end container -->
    </div>

    <div id="box-cont">
      <div class="box _red"></div>
      <div class="box _green"></div>
      
      <div class="box _white">

        <div class="category">

          <div class="f-mechanics">

            <div class="img-desktop">
              <img src="{{ asset('assets/img/full-mech-desktop.png') }}">
            </div>

          </div>

          <div class="t-label">TOPICS</div>
          
          <div class="custom-select">

            <div class="btn-control">
              <div class="btn-select"></div>
              <span class="txtHolder">Please select ...</span>
            </div>

            <ul class="selection-list"> <!-- active -->

              <li><a href="#" class="active">The #UltimateBandkada Search Contest Overview</a></li>
              
              <li><a href="#">How to Join</a></li>
              
              <li><a href="#">How to Win</a></li>
              
              <li><a href="#">Online Submission</a></li>
              
              <li><a href="#">Live Auditions</a></li>
              
              <li><a href="#">Criteria for Selecting the Eight (8) Bandkada Finalists</a></li>

              <li><a href="#">Shortlisting and Announcement of Top 8 Bandkada Finalists</a></li>
              
              <li><a href="#">Criteria for Judging the top 3 Bandkada Finalists and Winners</a></li>
              
              <li><a href="#">Disqualification Clause</a></li>
              
              <li><a href="#">Contact Us</a></li>

              <!-- <li><a href="#">Event Waiver and Release Form</a></li>-->
              
            </ul>

          </div> 

        <div class="clearfix"></div>
        </div>

        <div class="preview">

          <div class="inner-content" data-index="0">
            
            <div class="container">

              <div class="in-title">The #UltimateBandkada Search Contest Overview</div> 
              <br />
              <p>Become part of the next #UltimateBandkada by teaming up with the hottest music talents in Rock, Pop, Hip Hop and EDM for a chance to win P100,000 plus a recording contract with a major label.</p>
              <br />
              <span>Prizes:</span>
              <span>1<sup>st</sup> Place – P100,000 + management contract + recording contract</span>
              <span>2<sup>nd</sup> Place – P60,000</span>
              <span>3<sup>rd</sup> Place – P40,000</span>
              <br />
              <span>Eligibility of Participants:</span>
              <ul class="decimal">
                <li>Interested groups should be composed of a minimum of three (3) members up to a maximum of five (5) members (all male/female or mixed, Filipino, 18 to 35 years of age upon joining date, residing in Metro Manila) are qualified to join.</li>
                
                <li>To participate in the The #UltimateBandkada Search, interested and qualified groups must comply with the following:
                    <ul class="lower-latin">
                      <li>Visit www.ultimatebandkada.com</li>
                      <li>Have read the full mechanics and registered through the mentioned website.
                        <ul class="lower-roman">
                          <li>A representative of the group may only register a group once and submit an entry via the registration page of the website (see details below).</li>
                        </ul> 
                      </li>
                    
                    </ul>
                </li>

                <li>Hopeful contestants must be well versed on different genres specifically Rock, Pop, Hip Hop or EDM (Electronic Dance Music) disciplines.</li>
              
              </ul>
            </div>
              
          </div>

          <div class="inner-content" data-index="1">
            
            <div class="container">
              <div class="in-title">How to Join</div>
              <br/>
              <ul class="decimal">
                <li>Contestants can only join the contest via three audition methods: Online Submission, Email, and Live Audition.</li>
                <li>All submitted online entries on website (www.ultimatebandkada.com), Email (greenwichpizzabarkada@gmail.com) and live auditions on-ground from March 11 to March 21, 2015 will be included for shortlisting.</li>
                <li>A panel of judges will review all auditions to determine eight (8) Bandkada finalists on March 23, 2015</li>
                <li>Top 3 BandKada will be awarded in the finale.
                	<ul class="lower-latin">
                		<li>1<sup>st</sup> Place</li>
                		<li>2<sup>nd</sup> Place</li>
                		<li>3<sup>rd</sup> Place</li>
                	</ul>
                </li>
              </ul>
            </div>

          </div>

          <div class="inner-content" data-index="2">
              <div class="container">
                <div class="in-title">How to Win</div>
                <br />

                <ul class="decimal">
                  <li>Eight Bandkada finalists will be selected from the pool of submitted entries as the finalists who will perform at the culminating event in August 8, 2015 at Valkyrie Club, UpTown BGC, Taguig City.</li>
                  <li>Once formed, a Bandkada must create an original Greenwich theme song that contains elements from at least two (2) different genres the band used for audition.</li>
                  <li>All eight Bandkada finalists will perform their original composition in the grand finale concert event in front of a panel of judges and experts.</li>
                  <li>The top 3 BandKada finalists (1<sup>st</sup>, 2<sup>nd</sup> and 3<sup>rd</sup> Placer), will be determined by the judges’ score.</li>
                </ul>

              </div>
          </div>

          <div class="inner-content" data-index="3">

              <div class="container">

                <div class="in-title">Online Submission</div>
                <br />

                <span>Video Submission</span>
                <ul class="decimal">
                  
                  <li>Take a video of your band performing a song that incorprates two or more musical genres(rock, hiphop, pop, EDM, etc.).</li>
                  <li>The designated representative must visit the #UltimateBandkada Search website <b>(www.ultimatebandkada.com)</b> and register the following information below:
                    <ul class="lower-latin">
                        <li>Band Name</li>
                        <li>Genre</li>
                        <li>YouTube channel of band (if any)</li>
                        <li>Name of Representative</li>
                        <li>Birthday</li>
                        <li>Mobile</li>
                        <li>Email</li>
                        <li>Instrument</li>
                        <li>Are you representing a school? If yes, what school?</li>
                        <li>Name of Band Members, instruments, and birthdates.</li>
                    </ul>
                  </li>
                  <li>Participants should then upload their entries upon registration on the website, or send an email to greenwichpizzabarkada@gmail.com with a link to their video online.</li>
                  <li>Participants who have registered will receive a confirmation email indicating the receipt of their entry.</li>
                </ul>

              </div>
          </div>

          <div class="inner-content" data-index="4">
              <div class="container">

                <div class="in-title">Live Auditions</div>
                <br />

                <span>On-ground live auditions will be setup to help contestants facilitate their entry.</span>
                <br />
                <span>Audition Schedules</span>

                <ul class="disc">
                  <li>March 17, 2015 – Garage 88, Katipunan Avenue</li>
                  <li>March 18, 2015 – First Strip, Mendiola</li>
                  <li>March 19, 2015 – SM Manila Activity Center</li>
                  <li>March 21, 2015 – Greenwich Office – 32nd Floor Jollibee Plaza Emerald Ave. Ortigas Center, Pasig City.</li>
                </ul>

                <br/>

                <ul class="decimal">
                  <li>Eligible contestants can join a live audition.</li>
                  <li>During the live audition, contestants will be asked to accomplish the registration form and sign a waiver.</li>
                  <li>Registration time:
                  	<ul class="decimal">
                  		<li>For Schools / Universities – 12nn to 7pm</li>
                  		<li>For Greenwich Office – 11am to 7pm<br/>
                  		Notes:
                  			<ul class="disc">
                  				<li>All registered participants within the given time will be accommodated to perform their audition piece.</li>
                  				<li>Participants are allowed to perform their 5-minute audition piece on the scheduled day of audition.</li>
                  			</ul>
                  		</li>
                  	</ul>
                  </li>
                  <li>During a live audition, the Greenwich crew will record a contestant's performance and will be included in the database.</li>
                  <li>Audition materials shall be owned by Greenwich.</li>
                </ul>

              </div>
          </div>

          <div class="inner-content" data-index="5">
              
              <div class="container">
                
                <div class="in-title">Criteria for Selecting the Eight (8) Bandkada Finalists</div>
                <br />

                <span><b>Musicianship:</b> Band members are skilled in playing an instrument that goes with the genres chosen: 25%</span>
                <span><b>Charisma:</b> Contestants have an energetic and attractive personality: 25%</span>
                <span><b>Voice Quality:</b> Contestants have the vocal range to perform quality performances: 25%</span>
                <span><b>Music Mash-Up:</b> The way in which a band has seamlessly and beautifully blended together at least two different music genres to create an entertaining sound: 25%</span>
              
              </div>
          </div>
          
          <div class="inner-content" data-index="6">
              
              <div class="container">
                
                <div class="in-title">Shortlisting and Announcement of Top 8 Bandkada Finalists</div>
                <br />

                <span><b>Shortlisting of Top 8 Bandkada Finalists</b></span>
                <ul class="disc">
                	<li>Date: March 23, 2015 (Monday)</li>
                	<li>Time: 2pm onwards</li>
                	<li>Venue: Greenwich Office - 32nd Floor Jollibee Plaza Emerald Ave. Ortigas Center, Pasig City.</li>
                </ul>
                <br />
                <span>Note:</span>
                <ul class="disc">
                	<li>Top 8 Bandkada Finalists will be notified via Call and Email using their given details on their registration forms.</li>
                </ul>
                <br />
                
                <span><b>Formal Announcement of Top 8 Bandkada Finalists (Media Launch)</b></span>
                <ul class="disc">
                	<li>Date: April 23, 2015</li>
                	<li>Time: 11am – 2pm</li>
                	<li>Venue: 12 Monkeys – Makati City</li>
                </ul>
                <br />
                <span>Note:</span>
                <ul class="disc">
                	<li>List of Finalists will also be posted on #UltimateBandKada Search Website, Greenwich Social Sites</li>
                </ul>
                <br />
                
                <span><b>Awarding of Prizes (Culminating Event)</b></span>
                <ul class="disc">
                	<li>Date: August 8, 2015</li>
                	<li>Time: 5pm – 10pm</li>
                	<li>Venue: Valkyrie Club, Taguig</li>
                </ul>
              
              </div>
          </div>
          


          <div class="inner-content" data-index="7">
              
              <div class="container">
                
                <div class="in-title">Criteria for Judging the top 3 Bandkada Finalists and Winners</div>
                <br/>

                <span><b>Overview</b></span>
                <br />
                
                <p>All eight (8) BandKada finalists will perform live to determine the winner and top 3 based on the judges' score.</p>
                <br />
                
                <p>Note: All bandkada finalists will be accompanied by service vans during the culminating event.</p>
                <br />
                
                <span>Beats, melodies and notes</span>
                <p>Each Bandkada must compose an original beat and melody for their song. The Bandkada finalists cannot use “remixes” or “samples” of existing songs for their original theme.</p>
                <br />

                <span><b>Criteria for Judging</b></span>
                <br />

                <span>20% Originality – Song uses original beats and melodies.</span>
                <span>30% Genre Mash Up – Incorporating at least two more different genres - Pop, Rock, Hip Hop and EDM to create an original music.</span>
                <span>20% Audience impact – Crowd reaction during and after band's performance.</span>
                <span>15% Chemistry – Shows a harmonious relationship and interaction between band members as they play on stage.</span>
                <span>15% Stage Presence – Impressive appearance and performance</span>
              </div>
          </div>
          
		  <div class="inner-content" data-index="8">
              
              <div class="container">
                
                <div class="in-title">Disqualification Clause</div>
                <br/>
                
                <ul class="disc">
                	<li>The Organizer reserves the absolute right to disqualify or not award a prize to an entrant who in the Organizers opinion it considers to have not complied with any of the terms and conditions. The Organizer also reserves the right to disqualify any participants who it reasonably believes has interfered with the fair running of this competition.</li>
                	<li>Employees of promoting agency, advertising agency and participating outlets including their relatives up to second degree of consanguinity or affinity are disqualified from joining the promotion.</li>
                </ul>
              </div>
          </div>
          
          <div class="inner-content" data-index="9">
              
              <div class="container">
                
                <div class="in-title">Contact Us</div>
                <br/>
                
                <p>For comments and inquiries please send an email to <b>greenwichpizzabarkada@gmail.com</b> and we will get back to you as soon as possible.</p>
                <br >
                <p>DTI-FTEB SPD Permit No. 3973 Series of 2015</p>
                
              </div>
          </div>

          
        <!-- preview-end  -->
        </div>

        <div class="clearfix"></div>
      </div>
      
      <div class="clearfix"></div>
    </div>

  <!-- end mechanics -->
  <!-- <div class="clearfix"></div> -->
  </div>

  
	<div id="gallery">
		<div class="banner-gallery"><img src="{{ asset('assets/img/gallery-banner.png') }}"></div>
		
		<div class="gallery-wrapper">
			<img src="{{ asset('assets/img/mpreloader.gif') }}" class="spinner hide">
			<div class="content">
				{% include 'CIBandkadaBundle:Default:galleryAlbumList.html.twig' with {'pagination':pagination} %}
			</div>
			
			<!--  hide section -->
			<div class="gallery-inner"> <!-- min-height: 750px; -->
				<img src="{{ asset('assets/img/mpreloader.gif') }}" class="spinner">
				<div class="icontent">
				</div>
			</div>
	    </div>
	</div>
	
	{% if finalists|length > 0 %}
	  <!-- start finalists -->
	  {% include 'CIBandkadaBundle:Default:finalists.html.twig' %}
	  <!-- end finalists -->
  {% endif %}
	
	{% if app.environment == 'dev' %}
		<script src="{{ asset('assets/js/app_dev.js') }}"></script>
	{% else %}
		<script src="{{ asset('assets/js/app.js') }}"></script>
	{% endif %}
	
	<script src="{{ asset('assets/vendors/jquery/jquery.js') }}"></script>
	
	<!-- slimScroll -->
	<script src="{{ asset('assets/vendors/slimScroll/jquery.slimscroll.min.js') }}"></script>
	<!-- lytebox -->
	<script src="{{ asset('assets/vendors/lytebox/js/lytebox.2.3.js') }}"></script>
	<!-- waypoint -->
	<script src="{{ asset('assets/vendors/imakewebthings/waypoints.js') }}"></script>
	
	<script src="{{ asset('assets/lib/datepicker/bootstrap-datepicker.js') }}"></script>
	
	<script src="{{ asset('assets/js/appGw.js') }}"></script>
	
	<script src="{{ asset('assets/js/ScrollAnalytics.js') }}"></script>
	
	<script src="{{ asset('assets/js/share.js') }}"></script>
	
	<script src="{{ asset('assets/js/gallery.js') }}"></script>
	
	<script language='JavaScript1.1' src='//pixel.mathtag.com/event/js?mt_id=701983&mt_adid=137520&v1=&v2=&v3=&s1=&s2=&s3='></script>
	
	<script type="text/javascript">
	$(function() {
		shareCtrl.shareUri = "{{ shareUri }}";
		galleryControl.lyteboxHtml = "#img-template";
		galleryControl.lyteboxContainer = $( "div.lytebox-content div.content" );
		galleryControl.spinner = "<img src='" + "{{ asset('assets/img/mpreloader.gif') }}" + "' class=\"spinner\">";
		
		{% if shared %}
			shareCtrl.onLoadAlbum = true;
			{% if shared.mediaId is defined %}
			shareCtrl.onLoadMedia = true;
			{% endif %}
			galleryControl.loadSharedPage({{ shared.albumId }}{% if shared.mediaId is defined %}, {{ shared.mediaId }}{% endif %});
		{% endif %}
	});
	</script>
	
	<div class="lytebox-wrap">
		<div class="lytebox-content-holder">
			<div class="lytebox-content">
				<section class="img-entry" id="img-template" style="display:none;">
					<a href="javascript:void(0);" class="btn-close"></a>
					
					
					<div class="content">
						
					</div>
				
					<div class="social-wrap">
						<a href="#" class="btn-ifb" data-share-uri=""></a>
						<a class="btn-itw" target="_blank" href="https://twitter.com/share" data-title="" data-share-uri=""></a>
					</div>
					
					<div class="pagination-wrap media-paginator">
						<a href="#" class="btn-page-left hide"></a>
						<a href="#" class="btn-page-right hide"></a>
					</div>
					
					<div class="clearfix"></div>
				</section>
			</div>
		</div>
	</div>
	
	<footer>
		<div class="container">
			&#169; GREENWICH. ALL RIGHTS RESERVED.<br />
			DTI-FTEB SPD Permit No. 3973 Series of 2015
		</div>
	</footer>
</body>
</html>