<p>Hi, {{ name }}!</p>

<p>Thanks for joining the first ever Greenwich #UltimateBandkada Search!</p>

<p>Your entry has been received and will be screened according to the criteria. The 8 #UltimateBandkada finalists will be revealed on April 23, 2015. If your entry is selected we will notify you beforehand via the contact details you have provided.</p>

<p>If you sent us an email with your video attached or the link to your video, we'll reply to your email personally to acknowledge the receipt of this, along with other details you'll need to complete your entry. Just make sure to check your email for the confirmation.</p>

<p>If you have any other questions, please email greenwichpizzabarkada@gmail.com.</p>

<p>Be sure to tell your other friends to submit their own mash-ups as well!</p>

<p>Have a great day!</p>

<p>Your Greenwich Barkada</p>