{% if pageCount > 1 %}
	{% if previous is defined %}
		<a href="#" class="btn-page-left" data-page="{{ previous }}"></a>
	{% endif %}
	{% if next is defined %}
		<a href="#" class="btn-page-right" data-page="{{ next }}"></a>
	{% endif %}
{% endif %}