<section class="checkSoon">
	
	<a href="javascript:void(0);" class="btn-close" onclick="lytebox.close();"></a>

	<div class="content">
		<div class="in-title">Hey Kabarkada,</div>
        <br/>

      	<p>
			You’ve successfully registered for the Greenwich #UltimateBandkada search! We’ve sent a message to your email already so be sure to check it for more details.
      	</p>
   	</div>

   	<script language='JavaScript1.1' src='//pixel.mathtag.com/event/js?mt_id=701984&mt_adid=137520&v1=&v2=&v3=&s1=&s2=&s3='></script>
</section>