<section class="checkSoon">
	
	<a href="javascript:void(0);" class="btn-close" onclick="lytebox.close();"></a>

	<div class="content">
		<!-- <div class="label1">CHECK BACK SOON!</div>
		<div class="label2">Online registration starts <br />March 9, 2015</div> -->
		<div class="in-title">Event Waiver and Release Form</div>
        <br/>

      	<ul class="decimal">
	        <li>I submit to the rules, regulations, guidelines and instructions by the sponsors and organizers of the event. </li>
	        <li>I agree to cooperate and make myself available for any promotional and/or advertising production, appearance or activity related to the event and give the sponsors and organizers of the event and their assigns full permission, right, and authority to use my name, person, pictures and/or likeness and any other information furnished by me in any manner they deem fit for advertising and promotion; and I, participating in the event, hereby release and discharge the sponsors and organizers of the event from any liability or obligation arising from or connected with such use, including, without limitation, claims for invasion of privacy or defamation. I also understand that I will not be compensated or be paid in the on-ground activation, and that we will be included, seen or caught on cam during advertisements which are crucial for the promotions of the said event.</li>
	        <li>ARTIST and ARTIST's bandmates acknowledge that as a condition precedent to their participation in the Search, they are granting the Organizers and Viva Communications, Inc. or any of their respective subsidiaries and affiliates an option to enter into an Agency and Management Agreement and a Multi-Channel Network Affiliation Agreement with the ARTIST and ARTIST's bandmates in such form as the organizers may determine and that the failure to execute the Agency and Management Agreement and Multi-Channel Network Affiliation Agreement will result in disqualification from the Search.</li>
	        <li>I hereby warrant that I hold Greenwich Philippines, it’s brand, and as well as Activations Advertising Incorporated, the administrators, employees and organizers absolutely and completely free from any liabilities, claims, injuries or losses attributable to or resulting from the Greenwich The Ultimate Bandkada Search. I execute this waiver to attest to the truth of the foregoing and for whatever legal purpose this may serve.</li>
	    </ul>
   	</div>

</section>