<div class="page-header">
    <div class="row">
        <div class="col-sm-7">
            <h1>{{ FAIcon('user') }} Profile</h1>
        </div>
        
        <div class="col-sm-5">
            <div class="pull-right">
                <div class="btn-group">
                    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-default">{{ FAIcon('pencil') }} Edit</a>
                    <a href="{{ path('fos_user_change_password') }}" class="btn btn-default">{{ FAIcon('lock') }} Change Password</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="row">
   			<div class="col-md-5 col-xs-12">
   			    <table class="table table-no-border profile">
   			    	<tr>
   			    		<th class="col-xs-4">{{ 'profile.show.firstname'|trans({}, 'FOSUserBundle') }}</th>
   			    		<td>{{ user.firstname }}</td>
   			    	</tr>   	
   			    	<tr>
				 		<th>{{ 'profile.show.lastname'|trans({}, 'FOSUserBundle') }}</th>
				 		<td>{{ user.lastname }}</td>
				 	</tr>
				 	<tr>
				    	<th>{{ 'profile.show.gender'|trans({}, 'FOSUserBundle') }}</th>
				    	<td>{{ user.gender }}</td>
				    </tr>
				 	<tr>
				    	<th>{{ 'profile.show.birthdate'|trans({}, 'FOSUserBundle') }}</th>
				    	<td>{{ utils.formatDate(user.birthdate) }}</td>
				    </tr>
				 	<tr>
				    	<th>{{ 'profile.show.contactnumber'|trans({}, 'FOSUserBundle') }}</th>
				    	<td>{{ user.contactnumber }}</td>
				    </tr>		        
   			    </table>
   			</div>
   			<div class="col-md-6 col-xs-12">
   			    <table class="table table-no-border profile">
   			    	<tr>
				    	<th class="col-xs-4">{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}</th>
				    	<td>{{ user.email }}</td>
				    </tr>
	    			<tr>
				    	<th>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}</th>
				    	<td>{{ user.username }}</td>
				    </tr>
				 	<tr> 	
				    	<th>{{ 'profile.show.roles'|trans({}, 'FOSUserBundle') }} </th>
				    	<td>
					 		<ul>
					 		{% set roles = '' %}
					 		{% for role in user.roles if role != "ROLE_USER" %}
					 			<li>{{ role[5:]|replace({'_': ' '})|title }}</li>
					 		{% endfor %}
					 		</ul>
				 		</td>
				    </tr>
   			    </table>
   			</div>
   		</div>
		
        {% include 'CICoreBundle:Misc:entityDateDetails.html.twig' with {'entity': user } %}
	</div>
</div>